# Pandas Introduction

In [6]:
%matplotlib inline
import numpy as np
import pandas as pd

In [8]:
pd.__version__

'0.25.1'

## Series
A ``Series`` is like a column from a database or a spreadsheet. Much of the time the data is numeric, but it can be strings, dates, or Python objects.

In [9]:
s = pd.Series([145, 142, 38, 13])

In [10]:
s

0    145
1    142
2     38
3     13
dtype: int64

can have index that is not numeric

In [11]:
s = pd.Series([145, 142, 38, 13], 
              index='Paul,John,George,Ringo'.split(','),
              name='songs')
s

Paul      145
John      142
George     38
Ringo      13
Name: songs, dtype: int64

## DataFrame
A ``DataFrame`` is like a spreadsheet or database table

In [12]:
df = pd.DataFrame({'songs': s, 
                   'instrument': 'G,G,B,D'.split(',')},
                 index='Paul,John,George,Ringo'.split(','))
df

        songs instrument
Paul      145          G
John      142          G
George     38          B
Ringo      13          D

## Getting Data

Looking at Beatles data scraped from http://www.myrsten.nu/worldnet/beatlesongs.htm

#### CSV

In [13]:
!ls ../data

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [14]:
%ls ..\data

 Volume in drive C is OSDisk
 Volume Serial Number is F058-ECBA

 Directory of C:\Users\zyachin\Desktop\pydata\data

09/06/2021  09:44 AM    <DIR>          .
09/06/2021  09:44 AM    <DIR>          ..
09/03/2021  12:36 PM               556 anscombes.csv
09/03/2021  12:36 PM            11,307 beatles.csv
09/03/2021  12:36 PM           276,821 central-park-raw.csv
09/03/2021  12:36 PM         1,735,860 snow-alta-1990-2017.csv
09/03/2021  12:36 PM            30,700 table_export.csv
09/03/2021  12:36 PM         1,411,703 vehicles.csv.zip
09/03/2021  12:36 PM               220 xkcd-2048.csv
               7 File(s)      3,467,167 bytes
               2 Dir(s)  100,915,884,032 bytes free

In [15]:
beat = pd.read_csv('../data/beatles.csv')
beat

,Unnamed: 0,Song,Composer,Singer,Album,Year
0,0,Love Me Do,McCartney,Lennon/McCartney,Please Please Me,1963
1,1,P.S. I Love You,McCartney,McCartney,Please Please Me,1963
2,2,Please Please Me,Lennon,Lennon/McCartney,Please Please Me,1963
3,3,Ask Me Why,Lennon,Lennon,Please Please Me,1963
4,4,ThereÂ´s a Place,Lennon,Lennon,Please Please Me,1963
...,...,...,...,...,...,...
181,181,For You Blue,Harrison,Harrison,Let It Be,1970
182,182,Let It Be,McCartney,McCartney,Let It Be,1970
183,183,The Long and Winding Road,McCartney,McCartney,Let It Be,1970
184,184,One After 909,Lennon,Lennon/McCartney,Let It Be,1970
185,185,I Me Mine,Harrison,Harrison,Let It Be,1970

In [16]:
!head ../data/beatles.csv

'head' is not recognized as an internal or external command,
operable program or batch file.

In [17]:
%head ../data/beatles.csv

UsageError: Line magic function `%head` not found.

In [18]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cd  %clear  %cls  %colors  %conda  %config  %connect_info  %copy  %ddir  %debug  %dhist  %dirs  %doctest_mode  %echo  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %macro  %magic  %matplotlib  %mkdir  %more  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %ren  %rep  %rerun  %reset  %reset_selective  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%cmd  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [19]:
%pfile?

In [20]:
%pfile ../data/beatles.csv

Object `../data/beatles.csv` not found.

In [ ]:
beat = pd.read_csv('../data/beatles.csv', index_col=0)
beat

#### DB - BigQuery
Requires ``pandas-gbq`` library. Might need to ``pip install --upgrade setuptools pip`` to get installed.

Visit https://console.cloud.google.com/apis/credentials/serviceaccountkey to enable a Service Account Key as a JSON file. (Role should have "BigQuery User" enabled)

In [ ]:
sak_path = '/Users/matt/.config/gcloud/Pandas Training-c0d9e5603f83.json'
project_id = 'pandas-training'
sql = 'select * from beatlessongs.songs'
data = pd.read_gbq(sql, project_id, private_key=sak_path)

In [ ]:
data

#### MongoDB

* Install Pymongo:

  ``pip install pymongo``


* Run Mongo:

  ``docker run -d --name mongo -p 27017:27017 mvertes/alpine-mongo``

* Start mongo client:

 ``docker exec -ti mongo mongo``
 
* Insert data:


    db.inventory.insertMany([
     // MongoDB adds the _id field with an ObjectId if _id is not present
     { item: "journal", qty: 25, status: "A",
       size: { h: 14, w: 21, uom: "cm" }, tags: [ "blank", "red" ] },
     { item: "notebook", qty: 50, status: "A",
       size: { h: 8.5, w: 11, uom: "in" }, tags: [ "red", "blank" ] },
     { item: "paper", qty: 100, status: "D",
       size: { h: 8.5, w: 11, uom: "in" }, tags: [ "red", "blank", "plain" ] },
     { item: "planner", qty: 75, status: "D",
       size: { h: 22.85, w: 30, uom: "cm" }, tags: [ "blank", "red" ] },
     { item: "postcard", qty: 45, status: "A",
       size: { h: 10, w: 15.25, uom: "cm" }, tags: [ "blue" ] }
    ]);

In [ ]:
from pymongo import MongoClient

def _connect_mongo(host, port, username, password, db):
    """ A util for making a connection to mongo """

    if username and password:
        mongo_uri = 'mongodb://%s:%s@%s:%s/%s' % (username, password, host, port, db)
        conn = MongoClient(mongo_uri)
    else:
        conn = MongoClient(host, port)


    return conn[db]

def read_mongo(db, collection, query={}, host='localhost', port=27017, username=None, password=None, no_id=True):
    """ Read from Mongo and Store into DataFrame """

    # Connect to MongoDB
    db = _connect_mongo(host=host, port=port, username=username, password=password, db=db)

    # Make a query to the specific DB and Collection
    cursor = db[collection].find(query)

    # Expand the cursor and construct the DataFrame
    df =  pd.DataFrame(list(cursor))

    # Delete the _id
    if no_id:
        del df['_id']

    return df

mdf = read_mongo('test', 'inventory')

In [ ]:
mdf

## Getting Data Exercise
Create an ``nyc`` DataFrame by:

* Loading the ``../data/central-park-raw.csv`` dataset, use ``parse_dates`` to set 'EST' to a date

In [23]:
nyc = pd.read_csv("../data/central-park-raw.csv", parse_dates=["EST"])
print(nyc.EST)
nyc

0      2006-01-01
1      2006-01-02
2      2006-01-03
3      2006-01-04
4      2006-01-05
          ...
3282   2014-12-27
3283   2014-12-28
3284   2014-12-29
3285   2014-12-30
3286   2014-12-31
Name: EST, Length: 3287, dtype: datetime64[ns]

,EST,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2006-01-01,42.0,37.0,32.0,32.0,30.0,28.0,85.0,74.0,62.0,...,10.0,10.0,8.0,9.0,3.0,10.0,0.00,8.0,NaN,276.0
1,2006-01-02,48.0,44.0,39.0,38.0,34.0,29.0,92.0,71.0,49.0,...,10.0,8.0,4.0,18.0,5.0,24.0,0.63,5.0,Rain,76.0
2,2006-01-03,40.0,37.0,33.0,38.0,33.0,26.0,92.0,84.0,75.0,...,10.0,7.0,2.0,28.0,15.0,41.0,1.13,8.0,Rain,39.0
3,2006-01-04,38.0,34.0,29.0,36.0,26.0,19.0,85.0,72.0,59.0,...,10.0,10.0,4.0,15.0,7.0,20.0,0.00,3.0,NaN,70.0
4,2006-01-05,50.0,44.0,37.0,38.0,35.0,32.0,92.0,71.0,50.0,...,10.0,6.0,2.0,15.0,5.0,21.0,0.05,6.0,Rain,251.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2014-12-27,55.0,50.0,44.0,35.0,31.0,29.0,53.0,47.0,41.0,...,10.0,10.0,10.0,14.0,4.0,25.0,0.00,0.0,NaN,257.0
3283,2014-12-28,54.0,49.0,43.0,43.0,37.0,26.0,92.0,73.0,53.0,...,10.0,9.0,2.0,15.0,6.0,22.0,0.10,5.0,Rain,264.0
3284,2014-12-29,44.0,39.0,34.0,25.0,19.0,15.0,53.0,42.0,31.0,...,10.0,10.0,10.0,15.0,5.0,25.0,0.00,0.0,NaN,308.0
3285,2014-12-30,34.0,31.0,28.0,17.0,13.0,8.0,58.0,47.0,36.0,...,10.0,10.0,10.0,10.0,4.0,17.0,0.00,2.0,NaN,5.0
3286,2014-12-31,32.0,30.0,27.0,12.0,8.0,5.0,55.0,43.0,30.0,...,10.0,10.0,10.0,14.0,6.0,21.0,0.00,2.0,NaN,275.0

## Serializing Data

* ``df.to_csv`` - Human readable
* ``df.to_excel`` - Standard for biz types
* ``df.to_feather`` - Fast, remembers type information

In [ ]:
beat.to_csv('demo-beat.csv')

In [ ]:
!head demo-beat.csv

In [ ]:
beat

In [ ]:
# using ExcelWriter lets us write multiple sheets to an Excel file (might need to install openpyxl)
xl_writer = pd.ExcelWriter('demo-beat.xlsx')
beat.to_excel(xl_writer, sheet_name='All')
beat[beat.Composer=='Lennon'].to_excel(xl_writer, sheet_name='Lennon')
xl_writer.save()

In [ ]:
# fast binary format (remembers types!) (might need to install feather-format)
beat.to_feather('demo-beat.feather')

## Inspecting Data

In [24]:
autos = pd.read_csv('../data/vehicles.csv.zip')

In [25]:
pd.read_csv?

In [26]:
# Note that the columns attribute is also an Index
autos.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [27]:
# Pandas infers CSV types
autos.dtypes

barrels08     float64
barrelsA08    float64
charge120     float64
charge240     float64
city08          int64
               ...
modifiedOn     object
startStop      object
phevCity        int64
phevHwy         int64
phevComb        int64
Length: 83, dtype: object

In [28]:
autos = pd.read_csv('../data/vehicles.csv.zip', dtype=dict(autos.dtypes))

In [29]:
# How much space are we using?
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39101 entries, 0 to 39100
Data columns (total 83 columns):
barrels08          39101 non-null float64
barrelsA08         39101 non-null float64
charge120          39101 non-null float64
charge240          39101 non-null float64
city08             39101 non-null int64
city08U            39101 non-null float64
cityA08            39101 non-null int64
cityA08U           39101 non-null float64
cityCD             39101 non-null float64
cityE              39101 non-null float64
cityUF             39101 non-null float64
co2                39101 non-null int64
co2A               39101 non-null int64
co2TailpipeAGpm    39101 non-null float64
co2TailpipeGpm     39101 non-null float64
comb08             39101 non-null int64
comb08U            39101 non-null float64
combA08            39101 non-null int64
combA08U           39101 non-null float64
combE              39101 non-null float64
combinedCD         39101 non-null float64
combinedUF         39101 non-null float64
cylinders          38956 non-null float64
displ              38958 non-null float64
drive              37912 non-null object
engId              39101 non-null int64
eng_dscr           23431 non-null object
feScore            39101 non-null int64
fuelCost08         39101 non-null int64
fuelCostA08        39101 non-null int64
fuelType           39101 non-null object
fuelType1          39101 non-null object
ghgScore           39101 non-null int64
ghgScoreA          39101 non-null int64
highway08          39101 non-null int64
highway08U         39101 non-null float64
highwayA08         39101 non-null int64
highwayA08U        39101 non-null float64
highwayCD          39101 non-null float64
highwayE           39101 non-null float64
highwayUF          39101 non-null float64
hlv                39101 non-null int64
hpv                39101 non-null int64
id                 39101 non-null int64
lv2                39101 non-null int64
lv4                39101 non-null int64
make               39101 non-null object
model              39101 non-null object
mpgData            39101 non-null object
phevBlended        39101 non-null bool
pv2                39101 non-null int64
pv4                39101 non-null int64
range              39101 non-null int64
rangeCity          39101 non-null float64
rangeCityA         39101 non-null float64
rangeHwy           39101 non-null float64
rangeHwyA          39101 non-null float64
trany              39090 non-null object
UCity              39101 non-null float64
UCityA             39101 non-null float64
UHighway           39101 non-null float64
UHighwayA          39101 non-null float64
VClass             39101 non-null object
year               39101 non-null int64
youSaveSpend       39101 non-null int64
guzzler            2335 non-null object
trans_dscr         15047 non-null object
tCharger           5816 non-null object
sCharger           738 non-null object
atvType            3204 non-null object
fuelType2          1490 non-null object
rangeA             1485 non-null object
evMotor            644 non-null object
mfrCode            8289 non-null object
c240Dscr           53 non-null object
charge240b         39101 non-null float64
c240bDscr          51 non-null object
createdOn          39101 non-null object
modifiedOn         39101 non-null object
startStop          7405 non-null object
phevCity           39101 non-null int64
phevHwy            39101 non-null int64
phevComb           39101 non-null int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 24.5+ MB

In [30]:
# First 10 rows
autos.head(10)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
5,14.982273,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
6,13.184400,0.0,0.0,0.0,22,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
7,13.733750,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
8,12.677308,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
9,13.184400,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [31]:
# Sometimes transposing is useful
autos.T  # autos.transpose()

,0,1,2,3,4,5,6,7,8,9,...,39091,39092,39093,39094,39095,39096,39097,39098,39099,39100
barrels08,15.6957,29.9645,12.2078,29.9645,17.3479,14.9823,13.1844,13.7338,12.6773,13.1844,...,16.4805,12.6773,13.7338,11.7718,13.1844,14.9823,14.3309,15.6957,15.6957,18.3117
barrelsA08,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
charge120,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
charge240,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
city08,19,9,23,10,17,21,22,23,23,23,...,18,23,21,24,21,19,20,18,18,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
modifiedOn,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,...,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
startStop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
phevCity,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
phevHwy,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
phevComb,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
# Sample might be better
autos.sample(10)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
16996,14.330870,0.0,0.0,0.0,19,0.0000,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
35838,18.311667,0.0,0.0,0.0,15,0.0000,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
30305,13.184400,0.0,0.0,0.0,22,21.5782,0,0.0,0.0,0.0,...,GMX,NaN,0.0,NaN,Thu Jul 07 00:00:00 EDT 2016,Fri Sep 09 00:00:00 EDT 2016,N,0,0,0
26818,36.623333,0.0,0.0,0.0,8,0.0000,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
27333,18.311667,0.0,0.0,0.0,15,14.9703,0,0.0,0.0,0.0,...,HYX,NaN,0.0,NaN,Mon May 05 00:00:00 EDT 2014,Mon Sep 26 00:00:00 EDT 2016,N,0,0,0
35065,14.330870,0.0,0.0,0.0,21,0.0000,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
5221,19.388824,0.0,0.0,0.0,16,0.0000,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
34467,16.480500,0.0,0.0,0.0,19,0.0000,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
22100,17.347895,0.0,0.0,0.0,17,16.9188,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Mon Sep 26 00:00:00 EDT 2016,NaN,0,0,0
4070,13.733750,0.0,0.0,0.0,21,0.0000,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [33]:
# Can also change how pandas shows DataFrames in Jupyter
pd.options.display.max_columns

20

In [34]:
# Can also change how pandas shows DataFrames in Jupyter
pd.options.display.max_columns = 10

In [35]:
autos

,barrels08,barrelsA08,charge120,charge240,city08,...,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
39096,14.982273,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39097,14.330870,0.0,0.0,0.0,20,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39098,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39099,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39100,18.311667,0.0,0.0,0.0,16,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [36]:
# Can also change how pandas shows DataFrames in Jupyter
# Pandas 1.x inconsistency
pd.options.display.max_rows = 60

In [37]:
# Sometimes transposing is useful
autos.T  # autos.transpose()

,0,1,2,3,4,...,39096,39097,39098,39099,39100
barrels08,15.6957,29.9645,12.2078,29.9645,17.3479,...,14.9823,14.3309,15.6957,15.6957,18.3117
barrelsA08,0,0,0,0,0,...,0,0,0,0,0
charge120,0,0,0,0,0,...,0,0,0,0,0
charge240,0,0,0,0,0,...,0,0,0,0,0
city08,19,9,23,10,17,...,19,20,18,18,16
...,...,...,...,...,...,...,...,...,...,...,...
modifiedOn,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,...,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
startStop,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
phevCity,0,0,0,0,0,...,0,0,0,0,0
phevHwy,0,0,0,0,0,...,0,0,0,0,0
phevComb,0,0,0,0,0,...,0,0,0,0,0

In [38]:
with pd.option_context('display.max_rows', 60):
    display(autos)

,barrels08,barrelsA08,charge120,charge240,city08,...,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
39096,14.982273,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39097,14.330870,0.0,0.0,0.0,20,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39098,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39099,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39100,18.311667,0.0,0.0,0.0,16,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [39]:
with pd.option_context('display.min_rows', 60):
    display(autos)

,barrels08,barrelsA08,charge120,charge240,city08,...,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
5,14.982273,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
6,13.184400,0.0,0.0,0.0,22,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
7,13.733750,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
8,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
9,13.184400,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
10,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
11,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
12,13.733750,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
13,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
14,25.354615,0.0,0.0,0.0,12,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
15,14.330870,0.0,0.0,0.0,20,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
16,16.480500,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
17,15.695714,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
18,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
19,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
20,20.600625,0.0,0.0,0.0,14,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
21,20.600625,0.0,0.0,0.0,14,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
22,25.354615,0.0,0.0,0.0,11,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
23,14.330870,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
24,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
25,25.354615,0.0,0.0,0.0,11,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
26,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
27,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
28,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
29,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
39071,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39072,14.330870,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39073,13.184400,0.0,0.0,0.0,22,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39074,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39075,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39076,14.982273,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39077,14.330870,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39078,13.733750,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39079,21.974000,0.0,0.0,0.0,14,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39080,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39081,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39082,13.184400,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39083,11.771786,0.0,0.0,0.0,24,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39084,10.987000,0.0,0.0,0.0,26,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39085,29.964545,0.0,0.0,0.0,10,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39086,18.311667,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39087,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39088,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39089,18.311667,0.0,0.0,0.0,16,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39090,27.467500,0.0,0.0,0.0,11,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39091,16.480500,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39092,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39093,13.733750,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39094,11.771786,0.0,0.0,0.0,24,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39095,13.184400,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39096,14.982273,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39097,14.330870,0.0,0.0,0.0,20,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39098,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39099,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39100,18.311667,0.0,0.0,0.0,16,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [40]:
# rows x cols
autos.shape

(39101, 83)

In [41]:
autos.memory_usage()

Index            128
barrels08     312808
barrelsA08    312808
charge120     312808
charge240     312808
               ...
modifiedOn    312808
startStop     312808
phevCity      312808
phevHwy       312808
phevComb      312808
Length: 84, dtype: int64

In [42]:
autos.memory_usage(deep=True)

Index             128
barrels08      312808
barrelsA08     312808
charge120      312808
charge240      312808
               ...
modifiedOn    3323585
startStop     1473382
phevCity       312808
phevHwy        312808
phevComb       312808
Length: 84, dtype: int64

In [43]:
# What does the index look like?
autos.index

RangeIndex(start=0, stop=39101, step=1)

In [44]:
# Can change the index (note that this is not mutating the data)
autos.set_index('year')

,barrels08,barrelsA08,charge120,charge240,city08,...,modifiedOn,startStop,phevCity,phevHwy,phevComb
year,,,,,,,,,,,
1985,15.695714,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1985,29.964545,0.0,0.0,0.0,9,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1985,12.207778,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1985,29.964545,0.0,0.0,0.0,10,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1993,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1993,14.982273,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1993,14.330870,0.0,0.0,0.0,20,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1993,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1993,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1993,18.311667,0.0,0.0,0.0,16,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [45]:
# Can even do crazy things like this
autos.set_index(['year', 'make'])

                 barrels08  barrelsA08  charge120  charge240  city08  ...  \
year make                                                             ...
1985 Alfa Romeo  15.695714         0.0        0.0        0.0      19  ...
     Ferrari     29.964545         0.0        0.0        0.0       9  ...
     Dodge       12.207778         0.0        0.0        0.0      23  ...
     Dodge       29.964545         0.0        0.0        0.0      10  ...
1993 Subaru      17.347895         0.0        0.0        0.0      17  ...
...                    ...         ...        ...        ...     ...  ...
     Subaru      14.982273         0.0        0.0        0.0      19  ...
     Subaru      14.330870         0.0        0.0        0.0      20  ...
     Subaru      15.695714         0.0        0.0        0.0      18  ...
     Subaru      15.695714         0.0        0.0        0.0      18  ...
     Subaru      18.311667         0.0        0.0        0.0      16  ...

                                   modifiedOn  startStop  phevCity  phevHwy  \
year make
1985 Alfa Romeo  Tue Jan 01 00:00:00 EST 2013        NaN         0        0
     Ferrari     Tue Jan 01 00:00:00 EST 2013        NaN         0        0
     Dodge       Tue Jan 01 00:00:00 EST 2013        NaN         0        0
     Dodge       Tue Jan 01 00:00:00 EST 2013        NaN         0        0
1993 Subaru      Tue Jan 01 00:00:00 EST 2013        NaN         0        0
...                                       ...        ...       ...      ...
     Subaru      Tue Jan 01 00:00:00 EST 2013        NaN         0        0
     Subaru      Tue Jan 01 00:00:00 EST 2013        NaN         0        0
     Subaru      Tue Jan 01 00:00:00 EST 2013        NaN         0        0
     Subaru      Tue Jan 01 00:00:00 EST 2013        NaN         0        0
     Subaru      Tue Jan 01 00:00:00 EST 2013        NaN         0        0

                 phevComb
year make
1985 Alfa Romeo         0
     Ferrari            0
     Dodge              0
     Dodge              0
1993 Subaru             0
...                   ...
     Subaru             0
     Subaru             0
     Subaru             0
     Subaru             0
     Subaru             0

[39101 rows x 81 columns]

In [46]:
# Resetting the index (note "chained" operation)
autos.set_index(['year', 'make']).reset_index()

,year,make,barrels08,barrelsA08,charge120,...,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,1985,Alfa Romeo,15.695714,0.0,0.0,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,1985,Ferrari,29.964545,0.0,0.0,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,1985,Dodge,12.207778,0.0,0.0,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,1985,Dodge,29.964545,0.0,0.0,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,1993,Subaru,17.347895,0.0,0.0,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
39096,1993,Subaru,14.982273,0.0,0.0,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39097,1993,Subaru,14.330870,0.0,0.0,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39098,1993,Subaru,15.695714,0.0,0.0,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39099,1993,Subaru,15.695714,0.0,0.0,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39100,1993,Subaru,18.311667,0.0,0.0,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

## Inspecting Data Exercise

Your turn with the lab data:
* What are the columns of the dataframe?
* What are the types of the columns?
* How would you print the first 10 rows of data?
* How would you transpose the data?
* What is the shape of the data?
* How would we inspect the index?

## Tweaking Data

  *In Data Science, 80% of time spent prepare data, 20% of time spent complain about need for  prepare data.*
  
  -@bigdataborat
  
Let's see how we spend 80% of our time.

In [62]:
# I like to look at the types, first thing to look at datatypes
autos.dtypes

barrels08          float64
barrelsA08         float64
charge120          float64
charge240          float64
city08               int64
city08U            float64
cityA08              int64
cityA08U           float64
cityCD             float64
cityE              float64
cityUF             float64
co2                  int64
co2A                 int64
co2TailpipeAGpm    float64
co2TailpipeGpm     float64
comb08               int64
comb08U            float64
combA08              int64
combA08U           float64
combE              float64
combinedCD         float64
combinedUF         float64
cylinders          float64
displ              float64
drive               object
engId                int64
eng_dscr            object
feScore              int64
fuelCost08           int64
fuelCostA08          int64
                    ...
rangeCity          float64
rangeCityA         float64
rangeHwy           float64
rangeHwyA          float64
trany               object
UCity              float64
UCityA             float64
UHighway           float64
UHighwayA          float64
VClass              object
year                 int64
youSaveSpend         int64
guzzler             object
trans_dscr          object
tCharger            object
sCharger            object
atvType             object
fuelType2           object
rangeA              object
evMotor             object
mfrCode             object
c240Dscr            object
charge240b         float64
c240bDscr           object
createdOn           object
modifiedOn          object
startStop           object
phevCity             int64
phevHwy              int64
phevComb             int64
Length: 83, dtype: object

In [63]:
pd.options.display.min_rows = 60

In [64]:
autos.dtypes

#csv doesnt have specific type, python type will leverage numpy to assign a memory block for that "column
#object: allocated numpy array (pointer->python object, vectorized operation)

barrels08          float64
barrelsA08         float64
charge120          float64
charge240          float64
city08               int64
city08U            float64
cityA08              int64
cityA08U           float64
cityCD             float64
cityE              float64
cityUF             float64
co2                  int64
co2A                 int64
co2TailpipeAGpm    float64
co2TailpipeGpm     float64
comb08               int64
comb08U            float64
combA08              int64
combA08U           float64
combE              float64
combinedCD         float64
combinedUF         float64
cylinders          float64
displ              float64
drive               object
engId                int64
eng_dscr            object
feScore              int64
fuelCost08           int64
fuelCostA08          int64
                    ...
rangeCity          float64
rangeCityA         float64
rangeHwy           float64
rangeHwyA          float64
trany               object
UCity              float64
UCityA             float64
UHighway           float64
UHighwayA          float64
VClass              object
year                 int64
youSaveSpend         int64
guzzler             object
trans_dscr          object
tCharger            object
sCharger            object
atvType             object
fuelType2           object
rangeA              object
evMotor             object
mfrCode             object
c240Dscr            object
charge240b         float64
c240bDscr           object
createdOn           object
modifiedOn          object
startStop           object
phevCity             int64
phevHwy              int64
phevComb             int64
Length: 83, dtype: object

In [65]:
autos.columns

#python attributes only consists of alphanumeric characters

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [66]:
autos.columns.str.replace(r'([A-Z])', r'_\1')

#[A-Z]refers to capital letter, basically replacing capita

Index(['barrels08', 'barrels_A08', 'charge120', 'charge240', 'city08',
       'city08_U', 'city_A08', 'city_A08_U', 'city_C_D', 'city_E', 'city_U_F',
       'co2', 'co2_A', 'co2_Tailpipe_A_Gpm', 'co2_Tailpipe_Gpm', 'comb08',
       'comb08_U', 'comb_A08', 'comb_A08_U', 'comb_E', 'combined_C_D',
       'combined_U_F', 'cylinders', 'displ', 'drive', 'eng_Id', 'eng_dscr',
       'fe_Score', 'fuel_Cost08', 'fuel_Cost_A08', 'fuel_Type', 'fuel_Type1',
       'ghg_Score', 'ghg_Score_A', 'highway08', 'highway08_U', 'highway_A08',
       'highway_A08_U', 'highway_C_D', 'highway_E', 'highway_U_F', 'hlv',
       'hpv', 'id', 'lv2', 'lv4', 'make', 'model', 'mpg_Data', 'phev_Blended',
       'pv2', 'pv4', 'range', 'range_City', 'range_City_A', 'range_Hwy',
       'range_Hwy_A', 'trany', '_U_City', '_U_City_A', '_U_Highway',
       '_U_Highway_A', '_V_Class', 'year', 'you_Save_Spend', 'guzzler',
       'trans_dscr', 't_Charger', 's_Charger', 'atv_Type', 'fuel_Type2',
       'range_A', 'ev_Motor', 'mfr_Code', 'c240_Dscr', 'charge240b',
       'c240b_Dscr', 'created_On', 'modified_On', 'start_Stop', 'phev_City',
       'phev_Hwy', 'phev_Comb'],
      dtype='object')

In [67]:
# not required but I like to rename columns so they can be
# valid Python attributes (ie no spaces/wierd chars)
# Two options:
# - Set .columns attribute with a list
# - Call .rename method (I prefer this)

# (regex cheatsheet https://www.debuggex.com/cheatsheet/regex/python )
import re
a2 = autos.copy()
a2.columns = [re.sub(r'([A-Z])', r'_\1', c).lower().lstrip('_') 
              for c in a2.columns]  # mutation! Does not return dataframe! no chaining!

In [68]:
name = ['matt', 'suzy', 'sally']
money = [4, 23, 9]
list(zip(name, money)) #create a tuple [('matt', 4), ('suzy', 23), ('sally', 9)]
dict(zip(name, money))

{'matt': 4, 'suzy': 23, 'sally': 9}

In [69]:
autos.rename(columns=dict(zip(
    autos.columns, 
    (autos
     .columns.str.replace(r'([A-Z])', r'_\1')
     .str.lower()
     .str.lstrip('_'))))
)

,barrels08,barrels_a08,charge120,charge240,city08,...,modified_on,start_stop,phev_city,phev_hwy,phev_comb
0,15.695714,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
5,14.982273,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
6,13.184400,0.0,0.0,0.0,22,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
7,13.733750,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
8,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
9,13.184400,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
10,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
11,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
12,13.733750,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
13,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
14,25.354615,0.0,0.0,0.0,12,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
15,14.330870,0.0,0.0,0.0,20,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
16,16.480500,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
17,15.695714,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
18,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
19,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
20,20.600625,0.0,0.0,0.0,14,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
21,20.600625,0.0,0.0,0.0,14,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
22,25.354615,0.0,0.0,0.0,11,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
23,14.330870,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
24,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
25,25.354615,0.0,0.0,0.0,11,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
26,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
27,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
28,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
29,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
39071,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39072,14.330870,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39073,13.184400,0.0,0.0,0.0,22,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39074,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39075,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39076,14.982273,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39077,14.330870,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39078,13.733750,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39079,21.974000,0.0,0.0,0.0,14,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39080,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39081,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39082,13.184400,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39083,11.771786,0.0,0.0,0.0,24,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39084,10.987000,0.0,0.0,0.0,26,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39085,29.964545,0.0,0.0,0.0,10,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39086,18.311667,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39087,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39088,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39089,18.311667,0.0,0.0,0.0,16,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39090,27.467500,0.0,0.0,0.0,11,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39091,16.480500,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39092,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39093,13.733750,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39094,11.771786,0.0,0.0,0.0,24,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39095,13.184400,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39096,14.982273,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39097,14.330870,0.0,0.0,0.0,20,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39098,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39099,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39100,18.311667,0.0,0.0,0.0,16,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [70]:
# pandas often has two (or more) ways to do something
def to_camelcase(val):
    return re.sub(r'([A-Z])', r'_\1', val).lower().lstrip('_')

autos.rename(columns=to_camelcase)

,barrels08,barrels_a08,charge120,charge240,city08,...,modified_on,start_stop,phev_city,phev_hwy,phev_comb
0,15.695714,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
5,14.982273,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
6,13.184400,0.0,0.0,0.0,22,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
7,13.733750,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
8,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
9,13.184400,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
10,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
11,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
12,13.733750,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
13,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
14,25.354615,0.0,0.0,0.0,12,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
15,14.330870,0.0,0.0,0.0,20,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
16,16.480500,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
17,15.695714,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
18,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
19,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
20,20.600625,0.0,0.0,0.0,14,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
21,20.600625,0.0,0.0,0.0,14,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
22,25.354615,0.0,0.0,0.0,11,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
23,14.330870,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
24,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
25,25.354615,0.0,0.0,0.0,11,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
26,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
27,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
28,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
29,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
39071,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39072,14.330870,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39073,13.184400,0.0,0.0,0.0,22,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39074,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39075,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39076,14.982273,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39077,14.330870,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39078,13.733750,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39079,21.974000,0.0,0.0,0.0,14,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39080,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39081,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39082,13.184400,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39083,11.771786,0.0,0.0,0.0,24,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39084,10.987000,0.0,0.0,0.0,26,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39085,29.964545,0.0,0.0,0.0,10,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39086,18.311667,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39087,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39088,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39089,18.311667,0.0,0.0,0.0,16,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39090,27.467500,0.0,0.0,0.0,11,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39091,16.480500,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39092,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39093,13.733750,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39094,11.771786,0.0,0.0,0.0,24,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39095,13.184400,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39096,14.982273,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39097,14.330870,0.0,0.0,0.0,20,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39098,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39099,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39100,18.311667,0.0,0.0,0.0,16,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [71]:
autos.dtypes

barrels08          float64
barrelsA08         float64
charge120          float64
charge240          float64
city08               int64
city08U            float64
cityA08              int64
cityA08U           float64
cityCD             float64
cityE              float64
cityUF             float64
co2                  int64
co2A                 int64
co2TailpipeAGpm    float64
co2TailpipeGpm     float64
comb08               int64
comb08U            float64
combA08              int64
combA08U           float64
combE              float64
combinedCD         float64
combinedUF         float64
cylinders          float64
displ              float64
drive               object
engId                int64
eng_dscr            object
feScore              int64
fuelCost08           int64
fuelCostA08          int64
                    ...
rangeCity          float64
rangeCityA         float64
rangeHwy           float64
rangeHwyA          float64
trany               object
UCity              float64
UCityA             float64
UHighway           float64
UHighwayA          float64
VClass              object
year                 int64
youSaveSpend         int64
guzzler             object
trans_dscr          object
tCharger            object
sCharger            object
atvType             object
fuelType2           object
rangeA              object
evMotor             object
mfrCode             object
c240Dscr            object
charge240b         float64
c240bDscr           object
createdOn           object
modifiedOn          object
startStop           object
phevCity             int64
phevHwy              int64
phevComb             int64
Length: 83, dtype: object

In [72]:
# This looks categorical - (Vehicle has start stop technology)
autos.startStop.value_counts() #use value count to understand the objects, by default it will drop NA

N    5176
Y    2229
Name: startStop, dtype: int64

In [73]:
# This looks categorical
autos.startStop.value_counts(dropna=False)

NaN    31696
N       5176
Y       2229
Name: startStop, dtype: int64

In [74]:
autos.select_dtypes(object).T

,0,1,2,3,4,...,39096,39097,39098,39099,39100
drive,Rear-Wheel Drive,Rear-Wheel Drive,Front-Wheel Drive,Rear-Wheel Drive,4-Wheel or All-Wheel Drive,...,Front-Wheel Drive,Front-Wheel Drive,4-Wheel or All-Wheel Drive,4-Wheel or All-Wheel Drive,4-Wheel or All-Wheel Drive
eng_dscr,(FFS),(GUZZLER),(FFS),NaN,"(FFS,TRBO)",...,(FFS),(FFS),(FFS),(FFS),"(FFS,TRBO)"
fuelType,Regular,Regular,Regular,Regular,Premium,...,Regular,Regular,Regular,Regular,Premium
fuelType1,Regular Gasoline,Regular Gasoline,Regular Gasoline,Regular Gasoline,Premium Gasoline,...,Regular Gasoline,Regular Gasoline,Regular Gasoline,Regular Gasoline,Premium Gasoline
make,Alfa Romeo,Ferrari,Dodge,Dodge,Subaru,...,Subaru,Subaru,Subaru,Subaru,Subaru
model,Spider Veloce 2000,Testarossa,Charger,B150/B250 Wagon 2WD,Legacy AWD Turbo,...,Legacy,Legacy,Legacy AWD,Legacy AWD,Legacy AWD Turbo
mpgData,Y,N,Y,N,N,...,N,N,Y,Y,N
trany,Manual 5-spd,Manual 5-spd,Manual 5-spd,Automatic 3-spd,Manual 5-spd,...,Automatic 4-spd,Manual 5-spd,Automatic 4-spd,Manual 5-spd,Automatic 4-spd
VClass,Two Seaters,Two Seaters,Subcompact Cars,Vans,Compact Cars,...,Compact Cars,Compact Cars,Compact Cars,Compact Cars,Compact Cars
guzzler,NaN,T,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
trans_dscr,NaN,NaN,SIL,NaN,NaN,...,CLKUP,NaN,CLKUP,NaN,CLKUP
tCharger,NaN,NaN,NaN,NaN,T,...,NaN,NaN,NaN,NaN,T
sCharger,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
atvType,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
fuelType2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
rangeA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
evMotor,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
mfrCode,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
c240Dscr,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
c240bDscr,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
createdOn,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,...,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
modifiedOn,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,...,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
startStop,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN

In [75]:
autos.eng_dscr.value_counts(dropna=False)

NaN                                 15670
(FFS)                                8827
SIDI                                 4297
(FFS) CA model                        926
(FFS)      (MPFI)                     734
FFV                                   671
(FFS,TRBO)                            666
(350 V8) (FFS)                        411
(GUZZLER)  (FFS)                      366
SOHC                                  354
SIDI; FFV                             276
(NO-CAT)                              238
FLEX-FUEL                             198
GUZZLER                               195
(FFS)      (SPFI)                     194
SIDI & PFI                            158
(GUZZLER)  (FFS)      (MPFI)          122
(350 V8)                              120
CA model                              113
(350 V8) (FFS)  (MPFI)                106
(GM-CHEV)                             102
DOHC       (FFS)                       96
(DIESEL)                               95
PR                                     91
(GUZZLER) (FFS)                        84
(FFS,TRBO) CA model                    81
DOHC                                   79
SOHC       (FFS)                       78
DOHC TURBO (FFS,TRBO)                  76
V-6                                    75
                                    ...
EFFV-GAS                                1
Sport Transmission                      1
CNG FFS                                 1
MAZDA3 T/C                              1
E2.5CAB                                 1
Shelby GT500; Coupe or Conv.            1
(GUZZLER)  (FFS)      (S-CHARGE)        1
V8                                      1
DSL, TRBO                               1
Z/28                                    1
PHEV; 94 Amp-hour battery               1
IN COMMENT                              1
RNG200/300                              1
SIDI; Ecoboost; GVWR>6799 LBS           1
SOHC L-5                                1
320-500                                 1
RNG=390/400                             1
(FFS) (MPFI)  FI                        1
(GUZZLER)  (VOLVO780) (FFS)             1
4.6M                                    1
RNG130/170                              1
SIDI; Select shift transmission         1
GAS 410                                 1
RNG=192                                 1
44RA8                                   1
(FFS)      (VARIABLE)                   1
SUPER-CHGD                              1
54RA12                                  1
GAS 420 FFS                             1
B234L/R4 (FFS,TRBO)                     1
Name: eng_dscr, Length: 546, dtype: int64

In [76]:
autos.eng_dscr.str.contains('FFS')  # Feedback Fuel System

0         True
1        False
2         True
3          NaN
4         True
5         True
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14         NaN
15        True
16        True
17        True
18        True
19        True
20        True
21        True
22        True
23        True
24        True
25         NaN
26        True
27        True
28        True
29        True
         ...
39071     True
39072     True
39073     True
39074     True
39075     True
39076     True
39077     True
39078     True
39079      NaN
39080     True
39081     True
39082     True
39083     True
39084     True
39085     True
39086     True
39087     True
39088     True
39089     True
39090     True
39091     True
39092     True
39093     True
39094     True
39095     True
39096     True
39097     True
39098     True
39099     True
39100     True
Name: eng_dscr, Length: 39101, dtype: object

In [77]:
autos[autos.eng_dscr.str.contains('FFS')]

#masking means drop False value, keep True values, but cannot have NA, use value count to summarize the object values

ValueError: cannot index with vector containing NA / NaN values

In [ ]:
autos.eng_dscr.str.contains?

In [ ]:
(autos
 [autos.eng_dscr.str.contains('FFS', na=False)]
 .eng_dscr
 .value_counts()
)

In [ ]:
# .assign will return a new dataframe with new columns (ffs in this case)
(autos
.assign(ffs=autos.eng_dscr.str.contains('FFS', na=False)))

In [ ]:
autos.trany.value_counts()

In [ ]:
autos.trany.str.extract(r'(\d*)')   # fails...

In [ ]:
pd.concat([
    autos.trany,
    autos.trany.str.extract(r'(\d*)')
], axis=1)

In [ ]:
pd.concat([
    autos.trany,
    autos.trany.str.extract(r'(\d+)')
], axis=1)

In [ ]:
autos.trany.str.extract(r'(\d+)').value_counts()

In [78]:
autos.trany.str.extract(r'(\d+)', expand=False).value_counts()

4     12780
5     11372
6      7341
3      3230
7      1687
8      1566
9       211
1       134
10       39
Name: trany, dtype: int64

In [79]:
autos.trany.str.extract(r'(\d+)', expand=False).astype('int8')

ValueError: cannot convert float NaN to integer

In [80]:
autos.trany.str.extract(r'(\d+)', expand=False).value_counts(dropna=False)

4      12780
5      11372
6       7341
3       3230
7       1687
8       1566
NaN      741
9        211
1        134
10        39
Name: trany, dtype: int64

In [81]:
(autos
 .loc[autos.trany.str.extract(r'(\d+)', expand=False).isna(), 
      ['make', 'model', 'cylinders', 'eng_dscr','trany', 'year']]
)

,make,model,cylinders,eng_dscr,trany,year
2903,Honda,Civic HX,4.0,VTEC (FFS),Automatic (variable gear ratios),1996
3728,Honda,Civic,4.0,VTEC-E (FFS),Automatic (variable gear ratios),1997
4549,Honda,Civic HX,4.0,VTEC-E,Automatic (variable gear ratios),1998
5415,Honda,Civic HX,4.0,VTEC-E,Automatic (variable gear ratios),1999
6308,Honda,Civic HX,4.0,VTEC-E,Automatic (variable gear ratios),2000
7138,Nissan,Altra EV,NaN,NaN,NaN,2000
7139,Toyota,RAV4 EV,NaN,NaN,NaN,2000
7162,Honda,Insight,3.0,NaN,Automatic (variable gear ratios),2001
7163,Honda,Insight,3.0,NaN,Automatic (variable gear ratios),2001
7238,Honda,Civic HX,4.0,VTEC,Automatic (variable gear ratios),2001
7451,Toyota,Prius,4.0,NaN,Automatic (variable gear ratios),2001
8138,Honda,Civic CNG,4.0,CNG,Automatic (variable gear ratios),2001
8143,Toyota,RAV4 EV,NaN,NaN,NaN,2001
8144,Ford,Th!nk,NaN,NaN,NaN,2001
8146,Ford,Explorer USPS Electric,NaN,NaN,NaN,2001
8147,Nissan,Hyper-Mini,NaN,NaN,NaN,2001
8172,Honda,Insight,3.0,NaN,Automatic (variable gear ratios),2002
8207,MINI,Cooper,4.0,NaN,Automatic (variable gear ratios),2002
8252,Honda,Civic HX,4.0,VTEC-E,Automatic (variable gear ratios),2002
8323,Audi,A4,4.0,NaN,Automatic (variable gear ratios),2002
8325,Audi,A4,6.0,NaN,Automatic (variable gear ratios),2002
8483,Toyota,Prius,4.0,NaN,Automatic (variable gear ratios),2002
8518,Audi,A6,6.0,NaN,Automatic (variable gear ratios),2002
9025,Saturn,Vue FWD,4.0,NaN,Automatic (variable gear ratios),2002
9149,Saturn,Vue AWD,4.0,NaN,Automatic (variable gear ratios),2002
9187,Honda,Civic CNG,4.0,CNG,Automatic (variable gear ratios),2002
9212,Toyota,RAV4 EV,NaN,NaN,NaN,2002
9213,Ford,Explorer USPS Electric,NaN,NaN,NaN,2002
9237,Honda,Insight,3.0,VTEC,Automatic (variable gear ratios),2003
9326,Audi,A4 Cabriolet,4.0,NaN,Automatic (variable gear ratios),2003
...,...,...,...,...,...,...
31454,Cadillac,CT6 Plug-In,4.0,SIDI; PHEV,Automatic (variable gear ratios),2017
31817,Honda,Fit,4.0,SIDI,Automatic (variable gear ratios),2018
31884,Toyota,Prius c,4.0,NaN,Automatic (variable gear ratios),2018
32010,Mitsubishi,Mirage,3.0,NaN,Automatic (variable gear ratios),2018
32012,Mitsubishi,Mirage G4,3.0,NaN,Automatic (variable gear ratios),2018
32054,Chevrolet,Volt,4.0,SIDI; PHEV,Automatic (variable gear ratios),2018
32172,Ford,Fusion Hybrid FWD,4.0,NaN,Automatic (variable gear ratios),2018
32183,Honda,HR-V FWD,4.0,NaN,Automatic (variable gear ratios),2018
32185,Honda,HR-V AWD,4.0,NaN,Automatic (variable gear ratios),2018
32213,Nissan,Versa,4.0,NaN,Automatic (variable gear ratios),2018
32218,Chevrolet,Malibu Hybrid,4.0,SIDI; Hybrid,Automatic (variable gear ratios),2018
32221,Toyota,Corolla,4.0,NaN,Automatic (variable gear ratios),2018
32224,Toyota,Corolla LE Eco,4.0,NaN,Automatic (variable gear ratios),2018
32225,Toyota,Corolla LE Eco,4.0,2-mode (Normal/Eco) Transmission,Automatic (variable gear ratios),2018
32231,Honda,Civic 5Dr,4.0,SIDI,Automatic (variable gear ratios),2018
32295,Ford,Fusion Energi Plug-in Hybrid,4.0,PHEV,Automatic (variable gear ratios),2018
32302,Chevrolet,Spark,4.0,NaN,Automatic (variable gear ratios),2018
32303,Chevrolet,Spark ACTIV,4.0,NaN,Automatic (variable gear ratios),2018
32321,Lincoln,MKZ Hybrid FWD,4.0,NaN,Automatic (variable gear ratios),2018
32351,Nissan,NV200 NYC Taxi,4.0,NaN,Automatic (variable gear ratios),2018
32378,Chrysler,Pacifica Hybrid,6.0,PHEV,Automatic (variable gear ratios),2018
34059,Subaru,Justy,3.0,(FFS),Automatic (variable gear ratios),1989
35319,Subaru,Justy,3.0,(FFS) (MPFI),Automatic (variable gear ratios),1990
35321,Subaru,Justy 4WD,3.0,(FFS) (MPFI),Automatic (variable gear ratios),1990
36550,Subaru,Justy,3.0,(FFS) (MPFI),Automatic (variable gear ratios),1991
36552,Subaru,Justy 4WD,3.0,(FFS) (MPFI),Automatic (variable gear ratios),1991
37766,Subaru,Justy,3.0,(FFS) (MPFI),Automatic (variable gear ratios),1992
37770,Subaru,Justy AWD,3.0,(FFS) (MPFI),Automatic (variable gear ratios),1992
38941,Subaru,Justy,3.0,(FFS),Automatic (variable gear ratios),1993
38943,Subaru,Justy AWD,3.0,(FFS),Automatic (variable gear ratios),1993

In [82]:
# alternate (wrong version)
(autos
 .loc[autos.trany.isna()]
 .loc[:,
      ['make', 'model', 'cylinders', 'eng_dscr','trany', 'year']]
)

         make                   model  cylinders eng_dscr trany  year
7138   Nissan                Altra EV        NaN      NaN   NaN  2000
7139   Toyota                 RAV4 EV        NaN      NaN   NaN  2000
8143   Toyota                 RAV4 EV        NaN      NaN   NaN  2001
8144     Ford                   Th!nk        NaN      NaN   NaN  2001
8146     Ford  Explorer USPS Electric        NaN      NaN   NaN  2001
8147   Nissan              Hyper-Mini        NaN      NaN   NaN  2001
9212   Toyota                 RAV4 EV        NaN      NaN   NaN  2002
9213     Ford  Explorer USPS Electric        NaN      NaN   NaN  2002
10329  Toyota                 RAV4 EV        NaN      NaN   NaN  2003
19095    Ford         F150 Pickup 2WD        8.0    (FFS)   NaN  1984
19126     GMC          C25 Pickup 2WD        6.0      NaN   NaN  1984

In [83]:
(autos.assign(
    speeds=autos.trany.str.extract(r'(\d+)', expand=False).fillna(0).astype('int8'),
    # because we use a lambda we have access to the new speeds column
    variable_speeds=lambda df_: df_.speeds==0))

#lambda return a singlie line of outcome from function, df_ is an intermediate df which is just generated

,barrels08,barrelsA08,charge120,charge240,city08,...,phevCity,phevHwy,phevComb,speeds,variable_speeds
0,15.695714,0.0,0.0,0.0,19,...,0,0,0,5,False
1,29.964545,0.0,0.0,0.0,9,...,0,0,0,5,False
2,12.207778,0.0,0.0,0.0,23,...,0,0,0,5,False
3,29.964545,0.0,0.0,0.0,10,...,0,0,0,3,False
4,17.347895,0.0,0.0,0.0,17,...,0,0,0,5,False
5,14.982273,0.0,0.0,0.0,21,...,0,0,0,3,False
6,13.184400,0.0,0.0,0.0,22,...,0,0,0,5,False
7,13.733750,0.0,0.0,0.0,23,...,0,0,0,3,False
8,12.677308,0.0,0.0,0.0,23,...,0,0,0,5,False
9,13.184400,0.0,0.0,0.0,23,...,0,0,0,4,False
10,12.677308,0.0,0.0,0.0,23,...,0,0,0,5,False
11,15.695714,0.0,0.0,0.0,18,...,0,0,0,4,False
12,13.733750,0.0,0.0,0.0,21,...,0,0,0,5,False
13,15.695714,0.0,0.0,0.0,18,...,0,0,0,4,False
14,25.354615,0.0,0.0,0.0,12,...,0,0,0,3,False
15,14.330870,0.0,0.0,0.0,20,...,0,0,0,5,False
16,16.480500,0.0,0.0,0.0,18,...,0,0,0,4,False
17,15.695714,0.0,0.0,0.0,19,...,0,0,0,5,False
18,17.347895,0.0,0.0,0.0,17,...,0,0,0,4,False
19,17.347895,0.0,0.0,0.0,17,...,0,0,0,5,False
20,20.600625,0.0,0.0,0.0,14,...,0,0,0,5,False
21,20.600625,0.0,0.0,0.0,14,...,0,0,0,5,False
22,25.354615,0.0,0.0,0.0,11,...,0,0,0,4,False
23,14.330870,0.0,0.0,0.0,21,...,0,0,0,3,False
24,17.347895,0.0,0.0,0.0,17,...,0,0,0,3,False
25,25.354615,0.0,0.0,0.0,11,...,0,0,0,4,False
26,15.695714,0.0,0.0,0.0,18,...,0,0,0,4,False
27,16.480500,0.0,0.0,0.0,17,...,0,0,0,3,False
28,16.480500,0.0,0.0,0.0,17,...,0,0,0,4,False
29,16.480500,0.0,0.0,0.0,17,...,0,0,0,4,False
...,...,...,...,...,...,...,...,...,...,...,...
39071,12.677308,0.0,0.0,0.0,23,...,0,0,0,5,False
39072,14.330870,0.0,0.0,0.0,21,...,0,0,0,3,False
39073,13.184400,0.0,0.0,0.0,22,...,0,0,0,5,False
39074,15.695714,0.0,0.0,0.0,18,...,0,0,0,4,False
39075,16.480500,0.0,0.0,0.0,17,...,0,0,0,5,False
39076,14.982273,0.0,0.0,0.0,19,...,0,0,0,3,False
39077,14.330870,0.0,0.0,0.0,19,...,0,0,0,3,False
39078,13.733750,0.0,0.0,0.0,21,...,0,0,0,5,False
39079,21.974000,0.0,0.0,0.0,14,...,0,0,0,4,False
39080,15.695714,0.0,0.0,0.0,18,...,0,0,0,5,False
39081,15.695714,0.0,0.0,0.0,18,...,0,0,0,3,False
39082,13.184400,0.0,0.0,0.0,23,...,0,0,0,3,False
39083,11.771786,0.0,0.0,0.0,24,...,0,0,0,4,False
39084,10.987000,0.0,0.0,0.0,26,...,0,0,0,5,False
39085,29.964545,0.0,0.0,0.0,10,...,0,0,0,4,False
39086,18.311667,0.0,0.0,0.0,17,...,0,0,0,3,False
39087,15.695714,0.0,0.0,0.0,18,...,0,0,0,5,False
39088,15.695714,0.0,0.0,0.0,18,...,0,0,0,5,False
39089,18.311667,0.0,0.0,0.0,16,...,0,0,0,3,False
39090,27.467500,0.0,0.0,0.0,11,...,0,0,0,3,False
39091,16.480500,0.0,0.0,0.0,18,...,0,0,0,5,False
39092,12.677308,0.0,0.0,0.0,23,...,0,0,0,4,False
39093,13.733750,0.0,0.0,0.0,21,...,0,0,0,4,False
39094,11.771786,0.0,0.0,0.0,24,...,0,0,0,5,False
39095,13.184400,0.0,0.0,0.0,21,...,0,0,0,5,False
39096,14.982273,0.0,0.0,0.0,19,...,0,0,0,4,False
39097,14.330870,0.0,0.0,0.0,20,...,0,0,0,5,False
39098,15.695714,0.0,0.0,0.0,18,...,0,0,0,4,False
39099,15.695714,0.0,0.0,0.0,18,...,0,0,0,5,False
39100,18.311667,0.0,0.0,0.0,16,...,0,0,0,4,False

In [84]:
autos.createdOn.value_counts()

Tue Jan 01 00:00:00 EST 2013    34199
Thu Jul 07 00:00:00 EDT 2016      100
Fri Jun 06 00:00:00 EDT 2014       99
Thu Jul 31 00:00:00 EDT 2014       95
Thu Aug 03 00:00:00 EDT 2017       86
Tue Aug 02 00:00:00 EDT 2016       86
Thu Jul 16 00:00:00 EDT 2015       79
Thu Jul 02 00:00:00 EDT 2015       77
Thu Aug 10 00:00:00 EDT 2017       77
Wed Jul 26 00:00:00 EDT 2017       76
Thu Aug 06 00:00:00 EDT 2015       74
Mon Jul 27 00:00:00 EDT 2015       74
Mon Sep 11 00:00:00 EDT 2017       74
Mon Aug 04 00:00:00 EDT 2014       73
Wed Aug 20 00:00:00 EDT 2014       72
Thu Jul 13 00:00:00 EDT 2017       71
Wed Jul 27 00:00:00 EDT 2016       68
Thu Jun 26 00:00:00 EDT 2014       65
Mon Aug 28 00:00:00 EDT 2017       63
Wed Oct 05 00:00:00 EDT 2016       61
Wed Jul 19 00:00:00 EDT 2017       61
Wed Jul 20 00:00:00 EDT 2016       60
Fri May 29 00:00:00 EDT 2015       59
Thu Jun 02 00:00:00 EDT 2016       54
Thu Sep 11 00:00:00 EDT 2014       54
Wed Jun 24 00:00:00 EDT 2015       54
Wed Dec 18 00:00:00 EST 2013       52
Mon Apr 07 00:00:00 EDT 2014       52
Wed Aug 16 00:00:00 EDT 2017       52
Thu Sep 01 00:00:00 EDT 2016       52
                                ...
Thu Dec 10 00:00:00 EST 2015        5
Wed Apr 16 00:00:00 EDT 2014        4
Mon Apr 06 00:00:00 EDT 2015        4
Wed Feb 10 00:00:00 EST 2016        4
Wed Feb 24 00:00:00 EST 2016        4
Thu Jan 21 00:00:00 EST 2016        4
Fri Feb 07 00:00:00 EST 2014        4
Fri Feb 10 00:00:00 EST 2017        3
Thu Feb 20 00:00:00 EST 2014        3
Thu Nov 07 00:00:00 EST 2013        3
Wed Sep 10 00:00:00 EDT 2014        3
Wed Nov 16 00:00:00 EST 2016        3
Mon Jan 13 00:00:00 EST 2014        2
Wed Aug 27 00:00:00 EDT 2014        2
Thu May 15 00:00:00 EDT 2014        2
Tue Apr 11 00:00:00 EDT 2017        2
Mon Aug 31 00:00:00 EDT 2015        2
Fri Feb 27 00:00:00 EST 2015        2
Thu May 04 00:00:00 EDT 2017        2
Wed Dec 04 00:00:00 EST 2013        2
Thu Jul 17 00:00:00 EDT 2014        1
Fri Feb 28 00:00:00 EST 2014        1
Mon Jan 12 00:00:00 EST 2015        1
Mon Oct 13 00:00:00 EDT 2014        1
Wed Jun 25 00:00:00 EDT 2014        1
Tue Mar 04 00:00:00 EST 2014        1
Fri Jun 27 00:00:00 EDT 2014        1
Fri May 27 00:00:00 EDT 2016        1
Fri Jun 03 00:00:00 EDT 2016        1
Tue Nov 15 00:00:00 EST 2016        1
Name: createdOn, Length: 195, dtype: int64

In [85]:
autos.createdOn

0        Tue Jan 01 00:00:00 EST 2013
1        Tue Jan 01 00:00:00 EST 2013
2        Tue Jan 01 00:00:00 EST 2013
3        Tue Jan 01 00:00:00 EST 2013
4        Tue Jan 01 00:00:00 EST 2013
5        Tue Jan 01 00:00:00 EST 2013
6        Tue Jan 01 00:00:00 EST 2013
7        Tue Jan 01 00:00:00 EST 2013
8        Tue Jan 01 00:00:00 EST 2013
9        Tue Jan 01 00:00:00 EST 2013
10       Tue Jan 01 00:00:00 EST 2013
11       Tue Jan 01 00:00:00 EST 2013
12       Tue Jan 01 00:00:00 EST 2013
13       Tue Jan 01 00:00:00 EST 2013
14       Tue Jan 01 00:00:00 EST 2013
15       Tue Jan 01 00:00:00 EST 2013
16       Tue Jan 01 00:00:00 EST 2013
17       Tue Jan 01 00:00:00 EST 2013
18       Tue Jan 01 00:00:00 EST 2013
19       Tue Jan 01 00:00:00 EST 2013
20       Tue Jan 01 00:00:00 EST 2013
21       Tue Jan 01 00:00:00 EST 2013
22       Tue Jan 01 00:00:00 EST 2013
23       Tue Jan 01 00:00:00 EST 2013
24       Tue Jan 01 00:00:00 EST 2013
25       Tue Jan 01 00:00:00 EST 2013
26       Tue Jan 01 00:00:00 EST 2013
27       Tue Jan 01 00:00:00 EST 2013
28       Tue Jan 01 00:00:00 EST 2013
29       Tue Jan 01 00:00:00 EST 2013
                     ...
39071    Tue Jan 01 00:00:00 EST 2013
39072    Tue Jan 01 00:00:00 EST 2013
39073    Tue Jan 01 00:00:00 EST 2013
39074    Tue Jan 01 00:00:00 EST 2013
39075    Tue Jan 01 00:00:00 EST 2013
39076    Tue Jan 01 00:00:00 EST 2013
39077    Tue Jan 01 00:00:00 EST 2013
39078    Tue Jan 01 00:00:00 EST 2013
39079    Tue Jan 01 00:00:00 EST 2013
39080    Tue Jan 01 00:00:00 EST 2013
39081    Tue Jan 01 00:00:00 EST 2013
39082    Tue Jan 01 00:00:00 EST 2013
39083    Tue Jan 01 00:00:00 EST 2013
39084    Tue Jan 01 00:00:00 EST 2013
39085    Tue Jan 01 00:00:00 EST 2013
39086    Tue Jan 01 00:00:00 EST 2013
39087    Tue Jan 01 00:00:00 EST 2013
39088    Tue Jan 01 00:00:00 EST 2013
39089    Tue Jan 01 00:00:00 EST 2013
39090    Tue Jan 01 00:00:00 EST 2013
39091    Tue Jan 01 00:00:00 EST 2013
39092    Tue Jan 01 00:00:00 EST 2013
39093    Tue Jan 01 00:00:00 EST 2013
39094    Tue Jan 01 00:00:00 EST 2013
39095    Tue Jan 01 00:00:00 EST 2013
39096    Tue Jan 01 00:00:00 EST 2013
39097    Tue Jan 01 00:00:00 EST 2013
39098    Tue Jan 01 00:00:00 EST 2013
39099    Tue Jan 01 00:00:00 EST 2013
39100    Tue Jan 01 00:00:00 EST 2013
Name: createdOn, Length: 39101, dtype: object

In [86]:
pd.to_datetime(autos.createdOn).dt.tz_localize('US/Eastern')
#Set a localized time zone

C:\Users\zyachin\AppData\Local\Continuum\anaconda3\lib\site-packages\dateutil\parser\_parser.py:1206: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
C:\Users\zyachin\AppData\Local\Continuum\anaconda3\lib\site-packages\dateutil\parser\_parser.py:1206: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

0       2013-01-01 00:00:00-05:00
1       2013-01-01 00:00:00-05:00
2       2013-01-01 00:00:00-05:00
3       2013-01-01 00:00:00-05:00
4       2013-01-01 00:00:00-05:00
5       2013-01-01 00:00:00-05:00
6       2013-01-01 00:00:00-05:00
7       2013-01-01 00:00:00-05:00
8       2013-01-01 00:00:00-05:00
9       2013-01-01 00:00:00-05:00
10      2013-01-01 00:00:00-05:00
11      2013-01-01 00:00:00-05:00
12      2013-01-01 00:00:00-05:00
13      2013-01-01 00:00:00-05:00
14      2013-01-01 00:00:00-05:00
15      2013-01-01 00:00:00-05:00
16      2013-01-01 00:00:00-05:00
17      2013-01-01 00:00:00-05:00
18      2013-01-01 00:00:00-05:00
19      2013-01-01 00:00:00-05:00
20      2013-01-01 00:00:00-05:00
21      2013-01-01 00:00:00-05:00
22      2013-01-01 00:00:00-05:00
23      2013-01-01 00:00:00-05:00
24      2013-01-01 00:00:00-05:00
25      2013-01-01 00:00:00-05:00
26      2013-01-01 00:00:00-05:00
27      2013-01-01 00:00:00-05:00
28      2013-01-01 00:00:00-05:00
29      2013-01-01 00:00:00-05:00
                   ...
39071   2013-01-01 00:00:00-05:00
39072   2013-01-01 00:00:00-05:00
39073   2013-01-01 00:00:00-05:00
39074   2013-01-01 00:00:00-05:00
39075   2013-01-01 00:00:00-05:00
39076   2013-01-01 00:00:00-05:00
39077   2013-01-01 00:00:00-05:00
39078   2013-01-01 00:00:00-05:00
39079   2013-01-01 00:00:00-05:00
39080   2013-01-01 00:00:00-05:00
39081   2013-01-01 00:00:00-05:00
39082   2013-01-01 00:00:00-05:00
39083   2013-01-01 00:00:00-05:00
39084   2013-01-01 00:00:00-05:00
39085   2013-01-01 00:00:00-05:00
39086   2013-01-01 00:00:00-05:00
39087   2013-01-01 00:00:00-05:00
39088   2013-01-01 00:00:00-05:00
39089   2013-01-01 00:00:00-05:00
39090   2013-01-01 00:00:00-05:00
39091   2013-01-01 00:00:00-05:00
39092   2013-01-01 00:00:00-05:00
39093   2013-01-01 00:00:00-05:00
39094   2013-01-01 00:00:00-05:00
39095   2013-01-01 00:00:00-05:00
39096   2013-01-01 00:00:00-05:00
39097   2013-01-01 00:00:00-05:00
39098   2013-01-01 00:00:00-05:00
39099   2013-01-01 00:00:00-05:00
39100   2013-01-01 00:00:00-05:00
Name: createdOn, Length: 39101, dtype: datetime64[ns, US/Eastern]

In [87]:
pd.to_datetime(autos.createdOn).dt.tz_localize('US/Eastern').dt.tz_convert('UTC')
#Change to UTC timezone

0       2013-01-01 05:00:00+00:00
1       2013-01-01 05:00:00+00:00
2       2013-01-01 05:00:00+00:00
3       2013-01-01 05:00:00+00:00
4       2013-01-01 05:00:00+00:00
5       2013-01-01 05:00:00+00:00
6       2013-01-01 05:00:00+00:00
7       2013-01-01 05:00:00+00:00
8       2013-01-01 05:00:00+00:00
9       2013-01-01 05:00:00+00:00
10      2013-01-01 05:00:00+00:00
11      2013-01-01 05:00:00+00:00
12      2013-01-01 05:00:00+00:00
13      2013-01-01 05:00:00+00:00
14      2013-01-01 05:00:00+00:00
15      2013-01-01 05:00:00+00:00
16      2013-01-01 05:00:00+00:00
17      2013-01-01 05:00:00+00:00
18      2013-01-01 05:00:00+00:00
19      2013-01-01 05:00:00+00:00
20      2013-01-01 05:00:00+00:00
21      2013-01-01 05:00:00+00:00
22      2013-01-01 05:00:00+00:00
23      2013-01-01 05:00:00+00:00
24      2013-01-01 05:00:00+00:00
25      2013-01-01 05:00:00+00:00
26      2013-01-01 05:00:00+00:00
27      2013-01-01 05:00:00+00:00
28      2013-01-01 05:00:00+00:00
29      2013-01-01 05:00:00+00:00
                   ...
39071   2013-01-01 05:00:00+00:00
39072   2013-01-01 05:00:00+00:00
39073   2013-01-01 05:00:00+00:00
39074   2013-01-01 05:00:00+00:00
39075   2013-01-01 05:00:00+00:00
39076   2013-01-01 05:00:00+00:00
39077   2013-01-01 05:00:00+00:00
39078   2013-01-01 05:00:00+00:00
39079   2013-01-01 05:00:00+00:00
39080   2013-01-01 05:00:00+00:00
39081   2013-01-01 05:00:00+00:00
39082   2013-01-01 05:00:00+00:00
39083   2013-01-01 05:00:00+00:00
39084   2013-01-01 05:00:00+00:00
39085   2013-01-01 05:00:00+00:00
39086   2013-01-01 05:00:00+00:00
39087   2013-01-01 05:00:00+00:00
39088   2013-01-01 05:00:00+00:00
39089   2013-01-01 05:00:00+00:00
39090   2013-01-01 05:00:00+00:00
39091   2013-01-01 05:00:00+00:00
39092   2013-01-01 05:00:00+00:00
39093   2013-01-01 05:00:00+00:00
39094   2013-01-01 05:00:00+00:00
39095   2013-01-01 05:00:00+00:00
39096   2013-01-01 05:00:00+00:00
39097   2013-01-01 05:00:00+00:00
39098   2013-01-01 05:00:00+00:00
39099   2013-01-01 05:00:00+00:00
39100   2013-01-01 05:00:00+00:00
Name: createdOn, Length: 39101, dtype: datetime64[ns, UTC]

In [88]:
#pd.to_datetime(autos.createdOn).dt.tz_localize('US/Eastern').dt.tz_convert('UTC')
pd.to_datetime(autos.createdOn.replace({' EDT': '-04:00', ' EST': '-05:00'}, regex=True))

0        2013-01-01 00:00:00-05:00
1        2013-01-01 00:00:00-05:00
2        2013-01-01 00:00:00-05:00
3        2013-01-01 00:00:00-05:00
4        2013-01-01 00:00:00-05:00
5        2013-01-01 00:00:00-05:00
6        2013-01-01 00:00:00-05:00
7        2013-01-01 00:00:00-05:00
8        2013-01-01 00:00:00-05:00
9        2013-01-01 00:00:00-05:00
10       2013-01-01 00:00:00-05:00
11       2013-01-01 00:00:00-05:00
12       2013-01-01 00:00:00-05:00
13       2013-01-01 00:00:00-05:00
14       2013-01-01 00:00:00-05:00
15       2013-01-01 00:00:00-05:00
16       2013-01-01 00:00:00-05:00
17       2013-01-01 00:00:00-05:00
18       2013-01-01 00:00:00-05:00
19       2013-01-01 00:00:00-05:00
20       2013-01-01 00:00:00-05:00
21       2013-01-01 00:00:00-05:00
22       2013-01-01 00:00:00-05:00
23       2013-01-01 00:00:00-05:00
24       2013-01-01 00:00:00-05:00
25       2013-01-01 00:00:00-05:00
26       2013-01-01 00:00:00-05:00
27       2013-01-01 00:00:00-05:00
28       2013-01-01 00:00:00-05:00
29       2013-01-01 00:00:00-05:00
                   ...
39071    2013-01-01 00:00:00-05:00
39072    2013-01-01 00:00:00-05:00
39073    2013-01-01 00:00:00-05:00
39074    2013-01-01 00:00:00-05:00
39075    2013-01-01 00:00:00-05:00
39076    2013-01-01 00:00:00-05:00
39077    2013-01-01 00:00:00-05:00
39078    2013-01-01 00:00:00-05:00
39079    2013-01-01 00:00:00-05:00
39080    2013-01-01 00:00:00-05:00
39081    2013-01-01 00:00:00-05:00
39082    2013-01-01 00:00:00-05:00
39083    2013-01-01 00:00:00-05:00
39084    2013-01-01 00:00:00-05:00
39085    2013-01-01 00:00:00-05:00
39086    2013-01-01 00:00:00-05:00
39087    2013-01-01 00:00:00-05:00
39088    2013-01-01 00:00:00-05:00
39089    2013-01-01 00:00:00-05:00
39090    2013-01-01 00:00:00-05:00
39091    2013-01-01 00:00:00-05:00
39092    2013-01-01 00:00:00-05:00
39093    2013-01-01 00:00:00-05:00
39094    2013-01-01 00:00:00-05:00
39095    2013-01-01 00:00:00-05:00
39096    2013-01-01 00:00:00-05:00
39097    2013-01-01 00:00:00-05:00
39098    2013-01-01 00:00:00-05:00
39099    2013-01-01 00:00:00-05:00
39100    2013-01-01 00:00:00-05:00
Name: createdOn, Length: 39101, dtype: object

In [89]:
# multiple ways to filter
autos.loc[autos.year < 2018]

,barrels08,barrelsA08,charge120,charge240,city08,...,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
5,14.982273,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
6,13.184400,0.0,0.0,0.0,22,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
7,13.733750,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
8,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
9,13.184400,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
10,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
11,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
12,13.733750,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
13,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
14,25.354615,0.0,0.0,0.0,12,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
15,14.330870,0.0,0.0,0.0,20,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
16,16.480500,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
17,15.695714,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
18,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
19,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
20,20.600625,0.0,0.0,0.0,14,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
21,20.600625,0.0,0.0,0.0,14,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
22,25.354615,0.0,0.0,0.0,11,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
23,14.330870,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
24,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
25,25.354615,0.0,0.0,0.0,11,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
26,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
27,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
28,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
29,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
39071,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39072,14.330870,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39073,13.184400,0.0,0.0,0.0,22,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39074,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39075,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39076,14.982273,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39077,14.330870,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39078,13.733750,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39079,21.974000,0.0,0.0,0.0,14,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39080,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39081,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39082,13.184400,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39083,11.771786,0.0,0.0,0.0,24,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39084,10.987000,0.0,0.0,0.0,26,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39085,29.964545,0.0,0.0,0.0,10,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39086,18.311667,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39087,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39088,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39089,18.311667,0.0,0.0,0.0,16,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39090,27.467500,0.0,0.0,0.0,11,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39091,16.480500,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39092,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39093,13.733750,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39094,11.771786,0.0,0.0,0.0,24,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39095,13.184400,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39096,14.982273,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39097,14.330870,0.0,0.0,0.0,20,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39098,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39099,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39100,18.311667,0.0,0.0,0.0,16,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [91]:
autos.query('year<2018')

,barrels08,barrelsA08,charge120,charge240,city08,...,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
5,14.982273,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
6,13.184400,0.0,0.0,0.0,22,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
7,13.733750,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
8,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
9,13.184400,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
10,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
11,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
12,13.733750,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
13,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
14,25.354615,0.0,0.0,0.0,12,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
15,14.330870,0.0,0.0,0.0,20,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
16,16.480500,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
17,15.695714,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
18,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
19,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
20,20.600625,0.0,0.0,0.0,14,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
21,20.600625,0.0,0.0,0.0,14,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
22,25.354615,0.0,0.0,0.0,11,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
23,14.330870,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
24,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
25,25.354615,0.0,0.0,0.0,11,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
26,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
27,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
28,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
29,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
39071,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39072,14.330870,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39073,13.184400,0.0,0.0,0.0,22,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39074,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39075,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39076,14.982273,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39077,14.330870,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39078,13.733750,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39079,21.974000,0.0,0.0,0.0,14,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39080,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39081,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39082,13.184400,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39083,11.771786,0.0,0.0,0.0,24,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39084,10.987000,0.0,0.0,0.0,26,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39085,29.964545,0.0,0.0,0.0,10,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39086,18.311667,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39087,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39088,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39089,18.311667,0.0,0.0,0.0,16,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39090,27.467500,0.0,0.0,0.0,11,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39091,16.480500,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39092,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39093,13.733750,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39094,11.771786,0.0,0.0,0.0,24,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39095,13.184400,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39096,14.982273,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39097,14.330870,0.0,0.0,0.0,20,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39098,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39099,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39100,18.311667,0.0,0.0,0.0,16,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [92]:
# .query can reference variable using @
year_val = 2018
autos.query('year < @year_val')

,barrels08,barrelsA08,charge120,charge240,city08,...,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
5,14.982273,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
6,13.184400,0.0,0.0,0.0,22,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
7,13.733750,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
8,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
9,13.184400,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
10,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
11,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
12,13.733750,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
13,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
14,25.354615,0.0,0.0,0.0,12,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
15,14.330870,0.0,0.0,0.0,20,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
16,16.480500,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
17,15.695714,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
18,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
19,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
20,20.600625,0.0,0.0,0.0,14,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
21,20.600625,0.0,0.0,0.0,14,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
22,25.354615,0.0,0.0,0.0,11,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
23,14.330870,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
24,17.347895,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
25,25.354615,0.0,0.0,0.0,11,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
26,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
27,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
28,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
29,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
39071,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39072,14.330870,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39073,13.184400,0.0,0.0,0.0,22,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39074,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39075,16.480500,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39076,14.982273,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39077,14.330870,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39078,13.733750,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39079,21.974000,0.0,0.0,0.0,14,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39080,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39081,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39082,13.184400,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39083,11.771786,0.0,0.0,0.0,24,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39084,10.987000,0.0,0.0,0.0,26,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39085,29.964545,0.0,0.0,0.0,10,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39086,18.311667,0.0,0.0,0.0,17,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39087,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39088,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39089,18.311667,0.0,0.0,0.0,16,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39090,27.467500,0.0,0.0,0.0,11,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39091,16.480500,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39092,12.677308,0.0,0.0,0.0,23,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39093,13.733750,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39094,11.771786,0.0,0.0,0.0,24,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39095,13.184400,0.0,0.0,0.0,21,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39096,14.982273,0.0,0.0,0.0,19,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39097,14.330870,0.0,0.0,0.0,20,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39098,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39099,15.695714,0.0,0.0,0.0,18,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39100,18.311667,0.0,0.0,0.0,16,...,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [ ]:
# in next cell we will clean up column names (among others)
autos.columns

In [93]:
def to_camelcase(val):
    return re.sub(r'([A-Z])', r'_\1', val).lower().lstrip('_')


def tweak_autos(df_):
    return (df_
      .rename(columns=to_camelcase)
      .assign(ffs=df_.eng_dscr.str.contains('FFS', na=False),
         speeds=df_.trany.str.extract(r'(\d+)', expand=False).fillna(0).astype('int8'),
         variable_speeds=lambda df_: df_.speeds==0,
         created_on=lambda df_:
              pd.to_datetime(df_.created_on.replace({' EDT': '-04:00', ' EST': '-05:00'}, regex=True))
             )
      .loc[:,['barrels08', 'city08', 'comb08', 'cylinders', 'displ', 'drive', 'eng_dscr',
             'highway08', 'make', 'model', 'range', 'trany', 'year', 'v_class',
             'ffs', 'speeds', 'variable_speeds', 'created_on'
            ]]
      .query('year < 2018')
    )

autos2 = tweak_autos(autos)

#Use chaining to work, work from raw data, use assign to create column (wont create mess)

In [94]:
autos2

,barrels08,city08,comb08,cylinders,displ,...,v_class,ffs,speeds,variable_speeds,created_on
0,15.695714,19,21,4.0,2.0,...,Two Seaters,True,5,False,2013-01-01 00:00:00-05:00
1,29.964545,9,11,12.0,4.9,...,Two Seaters,False,5,False,2013-01-01 00:00:00-05:00
2,12.207778,23,27,4.0,2.2,...,Subcompact Cars,True,5,False,2013-01-01 00:00:00-05:00
3,29.964545,10,11,8.0,5.2,...,Vans,False,3,False,2013-01-01 00:00:00-05:00
4,17.347895,17,19,4.0,2.2,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
5,14.982273,21,22,4.0,1.8,...,Compact Cars,True,3,False,2013-01-01 00:00:00-05:00
6,13.184400,22,25,4.0,1.8,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
7,13.733750,23,24,4.0,1.6,...,Compact Cars,True,3,False,2013-01-01 00:00:00-05:00
8,12.677308,23,26,4.0,1.6,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
9,13.184400,23,25,4.0,1.8,...,Compact Cars,True,4,False,2013-01-01 00:00:00-05:00
10,12.677308,23,26,4.0,1.8,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
11,15.695714,18,21,4.0,2.0,...,Compact Cars,True,4,False,2013-01-01 00:00:00-05:00
12,13.733750,21,24,4.0,2.0,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
13,15.695714,18,21,4.0,2.0,...,Compact Cars,True,4,False,2013-01-01 00:00:00-05:00
14,25.354615,12,13,8.0,5.2,...,Vans,False,3,False,2013-01-01 00:00:00-05:00
15,14.330870,20,23,4.0,2.0,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
16,16.480500,18,20,4.0,2.3,...,Compact Cars,True,4,False,2013-01-01 00:00:00-05:00
17,15.695714,19,21,4.0,2.3,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
18,17.347895,17,19,6.0,2.8,...,Midsize Cars,True,4,False,2013-01-01 00:00:00-05:00
19,17.347895,17,19,6.0,2.8,...,Midsize Cars,True,5,False,2013-01-01 00:00:00-05:00
20,20.600625,14,16,8.0,4.0,...,Midsize Cars,True,5,False,2013-01-01 00:00:00-05:00
21,20.600625,14,16,8.0,4.0,...,Midsize Cars,True,5,False,2013-01-01 00:00:00-05:00
22,25.354615,11,13,12.0,5.0,...,Midsize Cars,True,4,False,2013-01-01 00:00:00-05:00
23,14.330870,21,23,4.0,2.2,...,Midsize Cars,True,3,False,2013-01-01 00:00:00-05:00
24,17.347895,17,19,6.0,3.3,...,Midsize Cars,True,3,False,2013-01-01 00:00:00-05:00
25,25.354615,11,13,8.0,5.2,...,Vans,False,4,False,2013-01-01 00:00:00-05:00
26,15.695714,18,21,6.0,3.3,...,Midsize Cars,True,4,False,2013-01-01 00:00:00-05:00
27,16.480500,17,20,6.0,3.1,...,Midsize Cars,True,3,False,2013-01-01 00:00:00-05:00
28,16.480500,17,20,6.0,3.1,...,Midsize Cars,True,4,False,2013-01-01 00:00:00-05:00
29,16.480500,17,20,6.0,3.8,...,Midsize Cars,True,4,False,2013-01-01 00:00:00-05:00
...,...,...,...,...,...,...,...,...,...,...,...
39071,12.677308,23,26,4.0,2.2,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
39072,14.330870,21,23,4.0,2.5,...,Compact Cars,True,3,False,2013-01-01 00:00:00-05:00
39073,13.184400,22,25,4.0,2.5,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
39074,15.695714,18,21,6.0,3.0,...,Compact Cars,True,4,False,2013-01-01 00:00:00-05:00
39075,16.480500,17,20,6.0,3.0,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
39076,14.982273,19,22,4.0,2.3,...,Compact Cars,True,3,False,2013-01-01 00:00:00-05:00
39077,14.330870,19,23,4.0,2.3,...,Compact Cars,True,3,False,2013-01-01 00:00:00-05:00
39078,13.733750,21,24,4.0,2.3,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
39079,21.974000,14,15,6.0,3.7,...,Vans,False,4,False,2013-01-01 00:00:00-05:00
39080,15.695714,18,21,4.0,2.3,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
39081,15.695714,18,21,6.0,3.3,...,Compact Cars,True,3,False,2013-01-01 00:00:00-05:00
39082,13.184400,23,25,4.0,1.6,...,Compact Cars,True,3,False,2013-01-01 00:00:00-05:00
39083,11.771786,24,28,4.0,1.6,...,Compact Cars,True,4,False,2013-01-01 00:00:00-05:00
39084,10.987000,26,30,4.0,1.6,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
39085,29.964545,10,11,8.0,6.8,...,Compact Cars,True,4,False,2013-01-01 00:00:00-05:00
39086,18.311667,17,18,4.0,2.0,...,Compact Cars,True,3,False,2013-01-01 00:00:00-05:00
39087,15.695714,18,21,4.0,2.0,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
39088,15.695714,18,21,4.0,2.0,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
39089,18.311667,16,18,4.0,2.1,...,Compact Cars,True,3,False,2013-01-01 00:00:00-05:00
39090,27.467500,11,12,8.0,5.2,...,Vans,True,3,False,2013-01-01 00:00:00-05:00
39091,16.480500,18,20,4.0,2.1,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
39092,12.677308,23,26,4.0,1.9,...,Compact Cars,True,4,False,2013-01-01 00:00:00-05:00
39093,13.733750,21,24,4.0,1.9,...,Compact Cars,True,4,False,2013-01-01 00:00:00-05:00
39094,11.771786,24,28,4.0,1.9,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
39095,13.184400,21,25,4.0,1.9,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
39096,14.982273,19,22,4.0,2.2,...,Compact Cars,True,4,False,2013-01-01 00:00:00-05:00
39097,14.330870,20,23,4.0,2.2,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
39098,15.695714,18,21,4.0,2.2,...,Compact Cars,True,4,False,2013-01-01 00:00:00-05:00
39099,15.695714,18,21,4.0,2.2,...,Compact Cars,True,5,False,2013-01-01 00:00:00-05:00
39100,18.311667,16,18,4.0,2.2,...,Compact Cars,True,4,False,2013-01-01 00:00:00-05:00

In [95]:
autos2.year.value_counts().sort_index()

1984    1964
1985    1701
1986    1210
1987    1247
1988    1130
1989    1153
1990    1078
1991    1132
1992    1121
1993    1093
1994     982
1995     967
1996     773
1997     762
1998     812
1999     852
2000     840
2001     911
2002     975
2003    1044
2004    1122
2005    1166
2006    1104
2007    1126
2008    1187
2009    1182
2010    1107
2011    1128
2012    1150
2013    1181
2014    1214
2015    1271
2016    1251
2017    1283
Name: year, dtype: int64

In [ ]:
autos2.city08.head()

In [ ]:
# get liters per 100 kilometers (using naive method)
def to_l100km(mpg):
    return 235.215/mpg

autos2.city08.apply(to_l100km)

In [ ]:
# faster to use vectorized operation

235.215/autos2.city08

In [ ]:
# faster to use vectorized operation

autos2.city08.rdiv(235)

In [ ]:
%%timeit
autos2.city08.apply(to_l100km)

In [ ]:
%%timeit
235.215/autos2.city08

In [ ]:
5_520 / 131  # 42x faster

## Tweak Data Exercise:

Create a function ``tweak_nyc`` that takes a dataframe as input and returns a dataframe that:

* Makes the columns PEP-8 compliant (ie change ``Max TemperatureF`` to ``max_temperaturef``). 
* Converts precipitationin to a float (can use ``.value_counts()`` and ``pd.to_numeric`` to figure out what is going on)
* One mile is 1.609 kilometers. Make a column that holds mean visibility miles in km.
* Keep only the years > 2006

In [96]:
def clean_nyc_col(col):
    #print(type(col), col)
    return col.lower().lstrip().replace(' ', '_')

def tweak_nyc(df):
    return (df
           .rename(columns=clean_nyc_col)
            .assign(
                precipitation=lambda df_:df_
                   .precipitationin
                   .str.replace('T', '0,005')
                   .astype(float),
                   mean_visilbilitykm=lambda df_:df_.mean_visibilitymiles*1.609)
            #.loc[df.EST.dt.year > 2006]
            .query('est.dt.year > 2006')
           )

#Comparing running time of loc or query by using %%timeit, loc 30% faster than query in this case
#Does not mutate dataframe, like a recipe, can explain each line celarly, can debug easily by comment out every individual line
tweak_nyc(nyc)

NameError: name 'nyc' is not defined

In [ ]:
def clean_nyc_col(col):
    return col.lower().lstrip().replace(' ', '_')

def to_km(df_):
    return df_.mean_visibilitymiles*1.609

def tweak_nyc(df):
    return (df
        .rename(columns=clean_nyc_col)
        .assign(
            precipitationin=lambda df_:df_
                 .precipitationin
                 .str.replace('T', '0.005')
                 .astype(float),
            mean_visibilitykm=to_km
               )
        .query('est.dt.year > 2006')
    )
    

nyc2 = tweak_nyc(nyc)#.dtypes

## Stats and More

In [ ]:
autos2.describe()
# To do summary statistics(Take numeric column), can get summary of categorical variables as well
# count of python=count of non-missing values

In [ ]:
# to include non-numeric data (.T might help)
autos2.describe(include='all')

In [ ]:
# Many aggregation functions (max, mean, median, min, mad, skew, kurtosis, autocorr,
#   nunique, sem, std, var)-> Information that your boss want, boss doesnt want the details to be very granular
# and properties (hasnans, is_monotonic, is_unique)
autos2.year.max()

In [ ]:
# quantiles
autos2.year.quantile(.8)

In [ ]:
# careful with return type
autos2.year.quantile([.2, .7])

In [ ]:
# Correlate year with seconds
autos2.year.corr(autos2.city08)

In [ ]:
autos2.corr()

In [ ]:
autos2.corr().style.background_gradient(cmap='RdBu', axis=1, vmin=-1, vmax=1)

In [ ]:
# careful with gradient limits
autos2.corr().style.background_gradient(cmap='RdBu', axis=1)

## Stats Exercise

* Find the 99% quantile for temp. Are those valid?
* Find the 99% quantile for humidity. Are those valid?
* Does temp correlate with humidity?
* Does year correlate with temp?

## Plotting

Pandas has built-in integration with Matplotlib. Other libraries such as Seaborn also support plotting DataFrames and Series. This is not an in depth intro to Matplotlib, but their website and gallery are great for finding more information

In [ ]:
autos2.city08.hist()

In [ ]:
# add figsize=(width, height)
autos2.city08.hist(figsize=(8,4))

In [ ]:
# change bins
autos2.city08.hist(figsize=(8,4), bins=20)

In [ ]:
# add filter
(autos2
 [autos2.city08 < 40]
 .city08
 .hist(figsize=(8,4), bins=20)
)

In [ ]:
# note there is another way to do this (using .plot)
autos2.city08.plot.hist()

In [ ]:
# kernel density estimation
autos2.city08.plot.kde()

In [ ]:
autos2.speeds.value_counts().plot.bar()

In [ ]:
(autos2
 .speeds
 .value_counts()
 .sort_index()
 .plot.bar()
)

In [ ]:
autos2.make.value_counts().plot.bar()

In [ ]:
n = 20
topn_makes = autos2.make.value_counts().index[:n]
(autos2
    .make
    .where(autos2.make.isin(topn_makes), 'other')
    .value_counts()
    .plot.bar()
)

In [ ]:
n = 20
topn_makes = autos2.make.value_counts().index[:n]
(autos2
    .make
    .where(autos2.make.isin(topn_makes), 'other')
    .value_counts()
    .plot.barh()
)

In [ ]:
n = 15
topn_makes = autos2.make.value_counts().index[:n]
(autos2
    .make
    .where(autos2.make.isin(topn_makes), 'other')
    .value_counts()
    .plot.pie()
)

In [ ]:
autos2.plot.scatter(x='highway08', y='city08')

In [ ]:
autos2.plot.scatter(x='highway08', y='city08', alpha=.5)

In [ ]:
autos2.plot.scatter(x='highway08', y='city08', alpha=.5, c='year', cmap='viridis')

In [ ]:
autos2.plot.scatter(x='year', y='city08', alpha=.5)

## Plotting Exercise

* Plot a histogram of temp
* Plot a histogram of humidity
* Plot a bar plot of count of events
* Plot a scatter plot of temp vs humidity
* Plot a scatter plot of year vs temp

## Filtering

In [ ]:
autos2.year > 2007

In [ ]:
autos2[autos2.year > 2007]

In [ ]:
# alternate syntax
autos2.query('year > 2007')

In [ ]:
autos2[autos2.year > 2007 & autos2.year < 2009]

In [ ]:
autos2[(autos2.year > 2007) & (autos2.year < 2009)]

In [ ]:
# can combine & (and), | (or), and ~ (not)
camry = autos2.model.str.contains('Camry')
y09 = autos2.year == 2009

In [ ]:
autos2[camry | y09]

In [ ]:
autos2[camry & y09]

In [ ]:
autos2[camry & ~y09]

In [ ]:
# this didn't work in prior versions of pandas
autos2.query('model.str.contains("Camry") and not year == 2009')

In [ ]:
autos2.query('model == "Camry" and not year == 2009')

In [ ]:
# .loc lets use filter by value
autos2.loc[[1,2,3], ['make', 'model']]

In [ ]:
# .loc w/ slices (closed interval)
autos2.loc[1:3, 'make':'model']

In [ ]:
# .loc is based on name, not index position 
# pull out single column
autos2.set_index('make').loc['Dodge', 'model']

In [ ]:
# .loc is based on name, not index position
# as a dataframe
autos2.set_index('make').loc['Dodge', ['model']]

In [ ]:
# .loc is based on name, not index position
# pull out Row
autos2.loc[10]

In [ ]:
# Can also use .iloc to index on location (half-open interval)
autos2.iloc[[0,1], [1, -1]]

In [ ]:
# Can also use .iloc to index on location (half-open interval)
autos2.iloc[0:4, -6:-1]

In [ ]:
# pull out a single value
autos2.iloc[10, 4]

In [ ]:
autos2.loc[10, 'displ']

In [ ]:
# Can use boolean array in .loc
autos2.loc[y09]

In [ ]:
# Not in iloc ...
autos2.iloc[y09]

## Filter Exercise

* Write a mask for years >= 2008 (``gt2008``) 
* Write a mask for rain events (``rain``)
* Get all row for rain after 2007
* Pull out 10 rows at index position 300

## Missing Data

In [ ]:
# missing Dataframe  ( .isna is a synonym for .isnull )
autos2.isnull()

In [ ]:
# rows w/ null data
autos2.isna().any(axis=1)

In [ ]:
# rows w/ null data
autos2[autos2.isna().any(axis=1)]

In [ ]:
# columns w/ missing data
autos2.isna().any(axis=0)

In [ ]:
# count missing data
autos2.isna().sum(axis=0)

In [ ]:
# percent missing data
(autos2
 .isna()
 .mean(axis=0)
 .mul(100)
)

In [ ]:
# rows where trany is missing
autos2[autos2.trany.isna()]

In [ ]:
autos2.query('trany.isna()')

In [ ]:
# What to do?
# Drop column- if majority is missing (perhap add is_na column)
(autos2
 .assign(eng_missing=autos2.eng_dscr.isna())
 .drop(columns='eng_dscr'))

In [ ]:
# drop rows
autos2.dropna()

In [ ]:
# rows where cylinders is missing
autos2[autos2.cylinders.isna()]

In [ ]:
# Replace with mean (maybe not appropriate with cylinders)
autos2.cylinders.fillna(autos2.cylinders.mean()).loc[7136:7141]

In [ ]:
# Interpolate values - better for time/sequential data
autos2.cylinders.fillna(autos2.cylinders.interpolate()).loc[7136:7141]

In [ ]:
# alternate mechanism (note the cond clause is more general/powerful)
autos2.cylinders.where(
    cond=~autos2.cylinders.isna(),
    other=10).loc[7136:7141]

In [ ]:
# Look at make averages
autos2.groupby('make').cylinders.mean().loc[['Ford', 'Toyota']]

In [ ]:
autos2.loc[[7136,7137,7138,7139,7140,9211,9212,9213,9214]]

In [ ]:
# alternate mechanism (note the cond clause is more general/powerful)
autos2.cylinders.where(
    cond=~((autos2.cylinders.isna()) & (autos2.make=='Toyota')),
    other=4.9).loc[[7136,7137,7138,7139,7140,9211,9212,9213,9214]]

In [ ]:
# alternate mechanism (note the cond clause is more general/powerful)
(autos2
 .cylinders.where(
                 ~((autos2.cylinders.isna()) & (autos2.make=='Ford')),
                 other=6.06)
           .where(
                 ~((autos2.cylinders.isna()) & (autos2.make=='Toyota')),
                 other=4.95)
 .loc[[7136,7137,7138,7139,7140,9211,9212,9213,9214]]
)

## Missing Values Exercise

* Find rows with missing values
* Find columns with missing values
* What would you do with the missing values?

## Grouping

In [ ]:
autos2.groupby('year').mean()

In [ ]:
autos2.groupby('make').mean()

In [ ]:
# can group by multiple columns
# will do cartesian product if one of the columns is category type
# (Use observed=True to keep old behavior)
autos2.groupby(['year', 'make']).eng_dscr.count()

In [ ]:
# don't put groups in index
autos2.groupby(['year', 'make'], as_index=False).eng_dscr.count()

In [ ]:
# or .reset_index
autos2.groupby(['year', 'make']).eng_dscr.count().reset_index()

In [ ]:
# apply arbitrary function to group
autos2.groupby('year')['make'].apply(lambda ser_: len(ser_.unique()))

In [ ]:
# easier - since pulling out series, apply series method
autos2.groupby('year')['make'].nunique()

In [ ]:
autos2.groupby('year')['make'].nunique().plot()

In [ ]:
# can call DataFrame methods on groupby (or Series if the group is a Series)
autos2.groupby('year')[['cylinders', 'city08']].describe()

In [ ]:
# Can apply multiple functions with ``.agg``
# see pandas/core/base.py _try_aggregate_string_function

# 'plot', 'boxplot', 'hist','last', 'first', 'head', 'tail', 'median', 'mean', 'sum', 'min', 'max', 'cumcount', 'ngroup', 'resample', 'rank', 'quantile', 'fillna', 'mad', 'any', 'all', 'take', 'idxmax', 'idxmin', 'shift', 'tshift', 'ffill', 'bfill', 'pct_change', 'skew', 'corr', 'cov', 'diff', 'nlargest', 'nsmallest', 'is_monotonic_increasing', 'is_monotonic_decreasing', 'dtype', 'unique', 'dtypes', 'corrwith' 'cumprod', 'cumsum', 'shift', 'cummin', 'cummax', 'rank', 'count', 'size'

autos2.groupby('year').agg(['max', 'mean', 'min'])

In [ ]:
# Flatten hierarchical columns (0.24+)
b3 = autos2.groupby('year').agg(['max', 'mean', 'min'])
b3.columns=['_'.join(x) for x in b3.columns.to_flat_index()]
b3

In [ ]:
# Flatten hierarchical columns (0.24+)
def flatten_cols(df_):
    df_.columns = ['_'.join(x) for x in df_.columns.to_flat_index()]
    return df_

(autos2
 .groupby('year')
 .agg(['max', 'mean', 'min'])
 .pipe(flatten_cols)
)

In [ ]:
# Named aggregation 0.25+
(autos2
 .groupby('year')
 .agg(max_city=('city08', 'max'),
      mean_city=('city08', 'mean'),
      min_city=('city08', lambda s_:s_.min()))
)

In [ ]:
# if you have a date you can group by components of it
# here we have a string so lets use components of it
autos2.groupby(autos2.make.str.count('a')).size()

In [ ]:
# Can "unstack" the index
(autos2
 .groupby(['year', 'make'])
 .mean()
 .unstack())

In [ ]:
# Can "unstack" the index
(autos2
 .groupby(['year', 'make'])
 .mean()
 .unstack()
 .loc[:,'barrels08']
 .loc[:,['Ford', 'Honda', 'Toyota']]
 .plot()
)

In [ ]:
# Slice on hierarchical-columns
(autos2
 .groupby(['year', 'make'])
 .mean()
 .unstack()
 .loc[:,('barrels08', 'Ford'):('barrels08', 'Geo')]
 .plot()
 .legend(bbox_to_anchor=(1,1))
)

In [ ]:
# Just Ford and Honda
(autos2
 .groupby(['year', 'make'])
 .mean()
 .unstack()
 .loc[:,[('barrels08', 'Ford'),('barrels08', 'Honda')]]
 .plot()
 .legend(bbox_to_anchor=(1,1))
)

## Grouping Exercise
* Find the count of events for each year
* Plot the count of events for each year
* Find the mean of all temperature columns for every two weeks (hint see ``pd.Grouper``)
* Plot the above

## Joining Data

In [ ]:
# https://www.epa.gov/automotive-trends/explore-automotive-trends-data
# Dataset with highest/lowest fuel economy by year (with weight)
weight_df = pd.read_csv('../data/table_export.csv')
weight_df

In [ ]:
# This fails. (Notice end columns)
autos2.join(weight_df)

In [ ]:
autos2.shape, weight_df.shape

In [ ]:
# .merge looks for common columns by default
autos2.merge(weight_df)

In [ ]:
weight_df.columns

In [ ]:
# careful of type incompatibilities
autos2.merge(weight_df, left_on=['year', 'make', 'model'],
            right_on=['Model Year', 'Manufacturer', 'Model Name'])

In [ ]:
# "Model Year" is an object!
weight_df.dtypes

In [ ]:
# Whoops there is a non-int value
weight_df['Model Year'].value_counts()

In [ ]:
# does inner join by default (only 12 rows)
autos2.merge(
    (weight_df
     .assign(year=pd.to_numeric(weight_df['Model Year'].str.replace('Prelim. ', '')))
    ),
     left_on=['year', 'make', 'model'],
            right_on=['year', 'Manufacturer', 'Model Name'])

In [ ]:
# use display to show multiple outputs
from IPython.display import display
display(weight_df.head())
display(autos2.head())

## Joining Exercise
* Create a dataframe, ``countries``, with the countries of the top ten makes. Join it with ``autos2`` to add a "country" column.

(*US* - Chevy, Ford, Dodge, GMC. *Japan* - Toyota, Nissan, Mitsubishi. *German* - Mercedes, Volkswagen, BMW)

## Pivoting

In [ ]:
# basically an alternate syntax for groupby
autos2.pivot_table(index='make', aggfunc='mean')

In [ ]:
# basically an alternate syntax for groupby
autos2.pivot_table(index='make', aggfunc={'barrels08': np.mean,
                                         'highway08': lambda s_:s_.median(),
                                          'range': 'max',
                                         })

In [ ]:
autos2.pivot_table(index='year', values=['highway08'], aggfunc='max')

In [ ]:
autos2.pivot_table(index=['year', 'make'], aggfunc='mean')

In [ ]:
autos2.pivot_table(index=['year', 'make'], aggfunc='mean').unstack()

In [ ]:
(autos2
 .pivot_table(index=['year', 'make'], aggfunc='mean')
 .unstack()
 .barrels08
 .iloc[:,:10]
 .plot()
 .legend(bbox_to_anchor=(1,1))
)

## Pivoting Exercise
* Find the count of events per month
* Find the count of events per weekday

## Timeseries

Data from https://www.ncdc.noaa.gov/cdo-web/search

Data at ../data/snow-alta-1990-2017.csv

Documentation - https://www1.ncdc.noaa.gov/pub/data/cdo/documentation/GHCND_documentation.pdf


* STATION_NAME (max 50 characters) is the (usually city/airport name). Optional
output field.
* STATION - 17 characters) is the station identification code. Please see
http://www1.ncdc.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt
* NAME - name of the station
* LATITUDE
* LONGITUDE
* ELEVATION - meters
* DATE - YYYY-MM-DD
* DAPR - Number of days included in the multiday precipitation total (MDPR)
* DAPR_ATTRIBUTES
* DASF - Number of days included in the multiday snowfall total (MDSF)
* DASF_ATTRIBUTES 
* MDPR -  Multiday precipitation total (mm or inches as per user preference; use with DAPR and DWPR, if
available)
* MDPR_ATTRIBUTES
* MDSF - Multiday snowfall total (mm or inches as per user preference)
* MDSF_ATTRIBUTES
* PRCP - Precipitation (mm or inches as per user preference, inches to hundredths on Daily Form pdf file)
* PRCP_ATTRIBUTES 
* SNOW -  Snowfall (mm or inches as per user preference, inches to tenths on Daily Form pdf file)
* SNOW_ATTRIBUTES
* SNWD -  Snow depth (mm or inches as per user preference, inches on Daily Form pdf file)
* SNWD_ATTRIBUTES
* TMAX - Maximum temperature (Fahrenheit or Celsius as per user preference, Fahrenheit to tenths on
Daily Form pdf file
* TMAX_ATTRIBUTES 
* TMIN - Minimum temperature (Fahrenheit or Celsius as per user preference, Fahrenheit to tenths on
Daily Form pdf file
* TMIN_ATTRIBUTES
* TOBS - Temperature at the time of observation (Fahrenheit or Celsius as per user preference)
* TOBS_ATTRIBUTES
* WT01 - Fog, ice fog, or freezing fog (may include heavy fog)
* WT01_ATTRIBUTES
* WT03 - Thunder
* WT03_ATTRIBUTES
* WT04 - Ice pellets, sleet, snow pellets, or small hail
* WT04_ATTRIBUTES
* WT05 -  Hail (may include small hail)
* WT05_ATTRIBUTES
* WT06 - Glaze or rime
* WT06_ATTRIBUTES
* WT11 -  High or damaging winds
* WT11_ATTRIBUTES

In [ ]:
# going to use a different data set
alta = pd.read_csv('../data/snow-alta-1990-2017.csv')
alta['DATE'] = pd.to_datetime(alta.DATE)

In [ ]:
alta.describe().T

In [ ]:
alta.set_index("DATE")[['SNOW', 'SNWD', 'TMAX', 'TMIN']].plot()

In [ ]:
(alta
 .set_index("DATE")
 [['SNOW', 'SNWD', 'TMAX', 'TMIN']]
 .plot(figsize=(8,6), alpha=.5)
)

In [ ]:
(alta
 .set_index("DATE")
 [['SNOW', 'SNWD', 'TMAX', 'TMIN']]
 .iloc[-1000:]
 .plot(figsize=(8,6), alpha=.5)
)

In [ ]:
(alta
 .iloc[-1000:]
 .set_index("DATE")
 .resample('W')
 .mean()
 [['SNOW', 'SNWD', 'TMAX', 'TMIN']]
 .plot(figsize=(8,6), alpha=.5)
)

In [ ]:
(alta
 .iloc[-1000:]
 .set_index("DATE")
 .resample('W')
 .mean()
 [['SNOW', 'SNWD', 'TMAX', 'TMIN']]
 .rolling(5)
 .mean()
 .plot(figsize=(8,6), alpha=.5)
)

In [ ]:
# month with most snow
alta.groupby(alta.DATE.dt.month)[['SNOW', 'SNWD', 'TMAX', 'TMIN']].max()

In [ ]:
# month with most snow
alta.groupby(alta.DATE.dt.month.rename('Month'))[['SNOW', 'SNWD', 'TMAX', 'TMIN']].max()

In [ ]:
# month with most snow
(
alta
    .groupby(alta.DATE.dt.month.rename('Month'))
    [['SNOW', 'SNWD', 'TMAX', 'TMIN']]
    .max()
    .plot.barh(figsize=(10,8))
)

In [ ]:
# month with most snow
alta.groupby(alta.DATE.dt.month.rename('Month'))[['SNOW', 'SNWD', 'TMAX', 'TMIN']].mean()

In [ ]:
# month with most snow
(
alta
    .groupby(alta.DATE.dt.month.rename('Month'))
    [['SNOW', 'SNWD', 'TMAX', 'TMIN']]
    .agg(['mean', 'max'])
)

In [ ]:
# day with most snow
(
alta
    .groupby(alta.DATE.dt.day_name().rename('Day'))
    [['SNOW', 'SNWD', 'TMAX', 'TMIN']]
    .agg(['mean', 'max']))

In [ ]:
(alta
 .set_index("DATE")
 .resample('M')
 [['SNOW', 'SNWD', 'TMAX', 'TMIN']]
 .mean()
 .plot(figsize=(10,8), alpha=.5)
)

In [ ]:
(alta
# .set_index("DATE")
# .resample('M')
 .groupby(pd.Grouper(key='DATE', freq='M'))
 [['SNOW', 'SNWD', 'TMAX', 'TMIN']]
 .mean()
 .plot(figsize=(10,8), alpha=.5)
)

In [ ]:
# filling in holes
(alta
 .groupby(pd.Grouper(key='DATE', freq='M'))
 [['SNOW', 'SNWD', 'TMAX', 'TMIN']]
 .mean()
 .iloc[:70]
 .plot(figsize=(10,8), alpha=.5)
)

In [ ]:
# filling in holes
(alta
 .groupby(pd.Grouper(key='DATE', freq='M'))
 [['SNOW', 'SNWD', 'TMAX', 'TMIN']]
 .mean()
 .iloc[:70]
 .bfill()
 .plot(figsize=(10,8), alpha=.5)
)

In [ ]:
# filling in holes
(alta
 .groupby(pd.Grouper(key='DATE', freq='M'))
 [['SNOW', 'SNWD', 'TMAX', 'TMIN']]
 .mean()
 .iloc[:70]
 .ffill()
 .plot(figsize=(10,8), alpha=.5)
)

In [ ]:
# filling in holes
(alta
 .groupby(pd.Grouper(key='DATE', freq='M'))
 [['SNOW', 'SNWD', 'TMAX', 'TMIN']]
 .mean()
 .iloc[:70]
 .interpolate()
 .plot(figsize=(10,8), alpha=.5)
)

In [ ]:
# filling in holes
(alta
 .groupby(pd.Grouper(key='DATE', freq='M'))
 [['SNOW', 'SNWD', 'TMAX', 'TMIN']]
 .mean()
 .iloc[:70]
 .fillna(0)
 .plot(figsize=(10,8), alpha=.5)
)

In [ ]:
(alta
.plot.scatter(x='TOBS', y='SNWD'))

In [ ]:
(alta
 .assign(month=alta.DATE.dt.month)
 .plot.scatter(x='TOBS', y='SNWD', alpha=.3, c='month', cmap='viridis'))

In [ ]:
(alta
 .assign(month=alta.DATE.dt.month)
 .sample(1000)
 .plot.scatter(x='TOBS', y='SNWD', alpha=.5, c='month', cmap='viridis'))

In [ ]:
# try cyclical color map
(alta
 .assign(month=alta.DATE.dt.month)
 .sample(1000)
 .plot.scatter(x='TOBS', y='SNWD', alpha=.5, c='month', cmap='hsv'))

## Timeseries Exercise
* Get the average temp by year
* Plot the average humidity by year
* Plot the 51st quantile of temp by year